<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>


    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw==" />
    <add key="KeyForConnectionStringPassphrase" value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ==" />
    <add key="KeyForConnectionStringSalt" value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg==" />
    <add key="KeyForConnectionStringVector" value="G6up33hyUX5guTj+" />
    
    
    <add key="ServiceBusTopicName" value="responseinfotopic"/>
    <add key="ServiceBusSubscriptionName" value="ReadSurveyInfoSubscription"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Binding Used Name: Update this based on the binding used. Should match the name of binding in bindings section-->
    <!--<add key="ENDPOINT_USED" value="BasicHttpBinding_IDataService"/>-->
    <add key="ENDPOINT_USED" value="WSHttpBinding_IDataService" />
    <!--Binding Used Name-->
    <!--Integrated SurveyManagerService Settings-->
    <add key="URL" value="" />
    <!--<add key="AdminKey" value="PYl6Ksk91G3qbYbcFU+RXTp22fd6FVgMjqrSIvwnt/uM7wvbKzOTiVtAmKXOp22p"/>-->
    <add key="AdminKey" value="3o/K0emd+yuDDxbLm2VDsuJmvN8dEKXIbifNsARrUk/rJA34TiH6Cl7SMk/tMiYS" />
    <add key="maxBytesPerRead" value="2048000" />
    <add key="BandwidthUsageFactor" value="50" />
    <!--Bandwidth Usage Factor should be between 0 and 100 -->
    <!--Integrated ManagerService settings-->
    <!--Messages-->
    <add key="SURVEY_NOT_EXISTS" value="The Survey does not exist. Please check the survey link and try again." />
    <add key="UNKNOWN_ERROR_MESSAGE" value="An unexpected error occurred. Please click the link below to return to the Home page or contact your system administrator for more information." />
    <add key="SURVEY_SUBMITED_MESSAGE" value="This survey has been submitted." />
    <add key="SURVEY_CLOSED_MESSAGE" value="This survey is currently closed. Please contact the author of this survey for further assistance." />
    <add key="SURVEY_SUBMISSION_MESSAGE" value="Thank you! Your survey has been submitted." />
    <!--Messages-->
    <add key="RESPONSE_PAGE_SIZE" value="20" />
    <add key="RESPONSE_PAGE_SIZE_Mobile" value="10" />
    <add key="ENDPOINT_ADDRESS" value="http://172.23.3.10/EpiInfoWebEnterQA/EWEManagerService.svc" />
    <add key="BINDING_PROTOCOL" value="Basic" />
    <add key="WINDOW_AUTHENTICATION" value="No" />
    <!--Enter settings End-->
    <add key="BaseURL" value="http://localhost:54611/Login" />
    <add key="URL" value="http://localhost:54611/Login" />
    <add key="SEND_EMAIL_TO_ASSIGNED_USERS" value="TRUE" />
    <!-- Password Policy Starts-->
    <add key="PasswordMinimumLength" value="6" />
    <add key="PasswordMaximumLength" value="10" />
    <!--<add key="UBoundDigit" value="61"/>-->
    <!--<add key="UseAlphabets" value="true"/>-->
    <add key="NumberOfTypesRequiredInPassword" value="3" />
    <add key="TotalNumberOfTypesInPassword" value="4" />
    <add key="UseNumbers" value="true" />
    <add key="UseUpperCase" value="true" />
    <add key="UseLowerCase" value="true" />
    <add key="UseSymbols" value="true" />
    <add key="Symbols" value="@#$|{}^" />
    <add key="RepeatCharacters" value="true" />
    <add key="ConsecutiveCharacters" value="false" />
    <add key="UseUserIdInPassword" value="true" />
    <add key="UseUserNameInPassword" value="true" />
    <!-- Password Policy Ends-->
    <add key="PPTag" value="80787d6053694493be171dd712e51c61" />
    <add key="SVTag" value="476ba16073764022bc7f262c6d67ebef" />
    <add key="IsEWAVLiteIntegrationEnabled" value="false" />
    <add key="EWAVLiteBaseURL" value="http://172.23.3.10/ewavlitedev/app/index.html"/>
    <add key="IsDemoMode" value="false"/>
 

 

     
   

    <!--<add key="serviceEndpoint" value="https://epiclouddev.documents.azure.com:443/"/>
    <add key="authKey" value="5mSE1Qg6EYQNzZXoZ46putFzmjdGo3oIVtXwmfI2phqBGRlEI2KiWDTZGrwcK1SyJMJRoRXIGSSiTYMYLW1GnA=="/>-->
 
    <!--<add key="MetadataAccessServiceAPI@CDCDev" value="http://eicdcmetadataapidev.azurewebsites.net/"/>-->
    <add key="MetadataAccessServiceAPI" value="http://eicdcmetadataapiqa.azurewebsites.net/"/>
  </appSettings>
  <connectionStrings>
 
    <add name="ServiceBusConnectionString" connectionString="OX0SNfYqkiRafktEFTJYkw26muAt2Mt13HrplEO0BExJ4IsO6FUuZj+nxydg9BzHCg0/4/EsZqNxwINX/cpyhSXn+g2vIo3CfBP8f+21WCEXv43TAfXS5X0rmowz/og38ULGMYs0FKwIXkfhhz2mvX4mLiqbnLdX2NHNKTi8AONCtWTvUDxd3S36/TSJT0O1P/+P/lq4eqY+a7B7EIP8SQ=="/>





  </connectionStrings>
</configuration>