<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

   

    <add key="ServiceBusTopicName" value="responseinfotopic"/>
    <add key="ServiceBusSubscriptionName" value="ReadSurveyInfoSubscription"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Binding Used Name: Update this based on the binding used. Should match the name of binding in bindings section-->
    <!--<add key="ENDPOINT_USED" value="BasicHttpBinding_IDataService"/>-->
    <add key="ENDPOINT_USED" value="WSHttpBinding_IDataService" />
    <!--Binding Used Name-->
    <!--Integrated SurveyManagerService Settings-->
    <add key="URL" value="" />
    <!--<add key="AdminKey" value="PYl6Ksk91G3qbYbcFU+RXTp22fd6FVgMjqrSIvwnt/uM7wvbKzOTiVtAmKXOp22p"/>-->
    <add key="AdminKey" value="3o/K0emd+yuDDxbLm2VDsuJmvN8dEKXIbifNsARrUk/rJA34TiH6Cl7SMk/tMiYS" />
    <add key="maxBytesPerRead" value="2048000" />
    <add key="BandwidthUsageFactor" value="50" />
    <!--Bandwidth Usage Factor should be between 0 and 100 -->
    <!--Integrated ManagerService settings-->
    <!--Messages-->
    <add key="SURVEY_NOT_EXISTS" value="The Survey does not exist. Please check the survey link and try again." />
    <add key="UNKNOWN_ERROR_MESSAGE" value="An unexpected error occurred. Please click the link below to return to the Home page or contact your system administrator for more information." />
    <add key="SURVEY_SUBMITED_MESSAGE" value="This survey has been submitted." />
    <add key="SURVEY_CLOSED_MESSAGE" value="This survey is currently closed. Please contact the author of this survey for further assistance." />
    <add key="SURVEY_SUBMISSION_MESSAGE" value="Thank you! Your survey has been submitted." />
    <!--Messages-->
    <add key="RESPONSE_PAGE_SIZE" value="20" />
    <add key="RESPONSE_PAGE_SIZE_Mobile" value="10" />
    <add key="ENDPOINT_ADDRESS" value="http://172.23.3.10/EpiInfoWebEnterQA/EWEManagerService.svc" />
    <add key="BINDING_PROTOCOL" value="Basic" />
    <add key="WINDOW_AUTHENTICATION" value="No" />
    <!--Enter settings End-->
    <add key="BaseURL" value="http://localhost:54611/Login" />
    <add key="URL" value="http://localhost:54611/Login" />
    <add key="SEND_EMAIL_TO_ASSIGNED_USERS" value="TRUE" />
    <!-- Password Policy Starts-->
    <add key="PasswordMinimumLength" value="6" />
    <add key="PasswordMaximumLength" value="10" />
    <!--<add key="UBoundDigit" value="61"/>-->
    <!--<add key="UseAlphabets" value="true"/>-->
    <add key="NumberOfTypesRequiredInPassword" value="3" />
    <add key="TotalNumberOfTypesInPassword" value="4" />
    <add key="UseNumbers" value="true" />
    <add key="UseUpperCase" value="true" />
    <add key="UseLowerCase" value="true" />
    <add key="UseSymbols" value="true" />
    <add key="Symbols" value="@#$|{}^" />
    <add key="RepeatCharacters" value="true" />
    <add key="ConsecutiveCharacters" value="false" />
    <add key="UseUserIdInPassword" value="true" />
    <add key="UseUserNameInPassword" value="true" />
    <!-- Password Policy Ends-->
    <add key="PPTag" value="80787d6053694493be171dd712e51c61" />
    <add key="SVTag" value="476ba16073764022bc7f262c6d67ebef" />
    <add key="IsEWAVLiteIntegrationEnabled" value="false" />
    <add key="EWAVLiteBaseURL" value="http://172.23.3.10/ewavlitedev/app/index.html"/>
    <add key="IsDemoMode" value="false"/>

    <!-- The Environment key is used to identify the specific environment that a resource is located at. -->
    <add key="Environment" value="CDCQA"/>
    <!--<add key="Environment/CollectedDataConnectionString" value="Ananth"/>-->
    <!--<add key="Environment" value="Ananth"/>-->
    <!-- An individual resource can be located in an environment other then the one specified above.
         e.g. the EWEADO resource could to located at specific Environment and can override the default environment. 
         <add key="Environment/EWEADO" value="Ananth"/> -->

    <add key="Environment.API" value="CDCQA"/>

     
    <!--<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://eicdcsbdev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Cy2Y5mEchXy6J+h+HCt9ksKJl0pjdE5lCU2E59H2rsU="/>-->

    <!--<add key="serviceEndpoint" value="https://epiclouddev.documents.azure.com:443/"/>
    <add key="authKey" value="5mSE1Qg6EYQNzZXoZ46putFzmjdGo3oIVtXwmfI2phqBGRlEI2KiWDTZGrwcK1SyJMJRoRXIGSSiTYMYLW1GnA=="/>-->

    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://eicdcsbqa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=51GyYK9/w0hbBrYj7kXHhmestRTcQ+d2GKRzvjTNNE8="/>


    <!--<add key="MetadataAccessServiceAPI@CDCDev" value="http://eicdcmetadataapidev.azurewebsites.net/"/>-->
    <add key="MetadataAccessServiceAPI" value="http://eicdcmetadataapiqa.azurewebsites.net/"/>
  </appSettings>
  <connectionStrings>

     


     


  </connectionStrings>
</configuration>