<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KeyForConnectionStringPassphrase" value="80787d6053694493be171dd712e51c61"/>
    <add key="KeyForConnectionStringSalt" value="476ba16073764022bc7f262c6d67ebef"/>
    <add key="KeyForConnectionStringVector" value="0f8f*d5bd&amp;cb4~9f"/>    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>