<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="MetadataAccessServiceAPI" value="http://eicdcmetadataapiqa.azurewebsites.net/"/>
  </appSettings>

  <connectionStrings>
    <add name="CacheConnectionString" connectionString="eicdccacheqa.redis.cache.windows.net:6380,password=O/Mmi6XnktKw3zJA0AK+uII8knKrV38C75n5ClRWwbo=,ssl=True,abortConnect=False"/>
  </connectionStrings>
</configuration>