<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    

    <!-- !!!!!!!!!!!!!!!!!!!!! Delete these lines before deploying to production !!!!!!!!!!!!!!!!!!!!!!!!! -->
    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw==" />
    <add key="KeyForConnectionStringPassphrase" value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ==" />
    <add key="KeyForConnectionStringSalt" value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg==" />
    <add key="KeyForConnectionStringVector" value="G6up33hyUX5guTj+" />
    <!--  -->


    <!--Email notification-->
    <add key="EMAIL_USE_AUTHENTICATION" value="true" />
    <add key="EMAIL_USE_SSL" value="true" />
    <add key="EMAIL_SUBJECT" value="This is the Subject line" />
    <add key="EMAIL_USERNAME" value="XaY7fQp5m4IRg833eFyDY1alqFogFtfWndmIqWwNq8uUHOPRRd41QkJsqRvImJQ7d81f2+CPipJhIi//Kegmug=="/>     
    <add key="EMAIL_PASSWORD" value="q37DrctLxr1gLWvSOD9Xfg==" /> 
    <add key="SMTP_HOST" value="LugsjqsbxMEMKzETErCpWPXrol4ZtogFJySPpdv1ZW4=" />
    <!--<add key="SMTP_HOST" value="mailhost.sra.com"/>-->
    <add key="SMTP_PORT" value="587"/>
    <!--Email notification-->
    
    <!-- Log Setting -->
    <add key="LOGGING_SEND_EMAIL_NOTIFICATION" value="FALSE" />
    <add key="LOGGING_ADMIN_EMAIL_ADDRESS" value="sumalatha_paritala@sra.com" />
    <add key="LOGGING_EMAIL_SUBJECT" value="subject" />
    <!-- Log Setting -->
    
    <!--Binding Used Name: Update this based on the binding used. Should match the name of binding in bindings section-->
    <!--<add key="ENDPOINT_USED" value="BasicHttpBinding_IDataService"/>-->
    <add key="ENDPOINT_USED" value="WSHttpBinding_IDataService" />
    <!--Binding Used Name-->
    <!--Integrated SurveyManagerService Settings-->
    <add key="URL" value="" />
    <!--<add key="AdminKey" value="PYl6Ksk91G3qbYbcFU+RXTp22fd6FVgMjqrSIvwnt/uM7wvbKzOTiVtAmKXOp22p"/>-->
    <add key="AdminKey" value="3o/K0emd+yuDDxbLm2VDsuJmvN8dEKXIbifNsARrUk/rJA34TiH6Cl7SMk/tMiYS" />
    <add key="maxBytesPerRead" value="2048000" />
    <add key="BandwidthUsageFactor" value="50" />
    <!--Bandwidth Usage Factor should be between 0 and 100 -->
    <!--Integrated ManagerService settings-->
    <!--Messages-->
    <add key="SURVEY_NOT_EXISTS" value="The Survey does not exist. Please check the survey link and try again." />
    <add key="UNKNOWN_ERROR_MESSAGE" value="An unexpected error occurred. Please click the link below to return to the Home page or contact your system administrator for more information." />
    <add key="SURVEY_SUBMITED_MESSAGE" value="This survey has been submitted." />
    <add key="SURVEY_CLOSED_MESSAGE" value="This survey is currently closed. Please contact the author of this survey for further assistance." />
    <add key="SURVEY_SUBMISSION_MESSAGE" value="Thank you! Your survey has been submitted." />
    <!--Messages-->
    <!-- Package Type -->
    <add key="RESPONSE_PAGE_SIZE" value="20" />
    <add key="RESPONSE_PAGE_SIZE_Mobile" value="10" />
    <add key="ENDPOINT_ADDRESS" value="http://172.23.3.10/EpiInfoWebEnterQA/EWEManagerService.svc" />
    <add key="BINDING_PROTOCOL" value="Basic" />
    <add key="WINDOW_AUTHENTICATION" value="No" />
    <!--Enter settings End-->
 
    <add key="BaseURL" value="http://localhost:54611/Login" />
    <add key="URL" value="http://localhost:54611/Login" />
    <add key="SEND_EMAIL_TO_ASSIGNED_USERS" value="TRUE" />
    <!-- Password Policy Starts-->
    <add key="PasswordMinimumLength" value="6" />
    <add key="PasswordMaximumLength" value="10" />
    <!--<add key="UBoundDigit" value="61"/>-->
    <!--<add key="UseAlphabets" value="true"/>-->
    <add key="NumberOfTypesRequiredInPassword" value="3" />
    <add key="TotalNumberOfTypesInPassword" value="4" />
    <add key="UseNumbers" value="true" />
    <add key="UseUpperCase" value="true" />
    <add key="UseLowerCase" value="true" />
    <add key="UseSymbols" value="true" />
    <add key="Symbols" value="@#$|{}^" />
    <add key="RepeatCharacters" value="true" />
    <add key="ConsecutiveCharacters" value="false" />
    <add key="UseUserIdInPassword" value="true" />
    <add key="UseUserNameInPassword" value="true" />
    <!-- Password Policy Ends-->
    <add key="FilterByUser" value="false" />
    <add key="PPTag" value="80787d6053694493be171dd712e51c61" />
    <add key="SVTag" value="476ba16073764022bc7f262c6d67ebef" />
    <add key="IsEWAVLiteIntegrationEnabled" value="false" />
    <add key="EWAVLiteBaseURL" value="http://172.23.3.10/ewavlitedev/app/index.html"/>
    
    <add key="IsDemoMode" value="false"/>

    <add key ="MetadataBlog.ContainerName" value="ProjectMetadataTemplate"/>

    <!-- The Environment key is used to identify the specific environment that a resource is located at. -->
    <!--<add key="Environment" value="CDCQA"/>-->
    <!--<add key="Environment/CollectedDataConnectionString" value="Garry"/>-->
    <!--<add key="Environment/CollectedDataConnectionString" value="Ananth"/>-->
    <!--<add key="Environment" value="Ananth"/>-->
    <!-- An individual resource can be located in an environment other then the one specified above.
         e.g. the EWEADO resource could to located at specific Environment and can override the default environment. 
         <add key="Environment/EWEADO" value="Ananth"/> -->
    <add key="IsLocalReleaseBuild" value="true"/>
    <add key="AttachmentId" value="ResponseSnapshot"/>
    <add key="ServiceBusTopicName" value="responseinfotopic"/>
    <add key="ServiceBusSubscriptionName" value="ReadSurveyInfoSubscription"/>  
		<add key="MetadataAccessServiceAPI" value="http://eicdcmetadataapiqa.azurewebsites.net/"/>
		<!--<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://eicdcsbdev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Cy2Y5mEchXy6J+h+HCt9ksKJl0pjdE5lCU2E59H2rsU="/>-->
    <!--<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://eicdcsbqa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=51GyYK9/w0hbBrYj7kXHhmestRTcQ+d2GKRzvjTNNE8="/>-->
    <!--<add key="serviceEndpoint" value="https://epiclouddev.documents.azure.com:443/"/>
    <add key="authKey" value="5mSE1Qg6EYQNzZXoZ46putFzmjdGo3oIVtXwmfI2phqBGRlEI2KiWDTZGrwcK1SyJMJRoRXIGSSiTYMYLW1GnA=="/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="EWEEntities" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjzx/2uuTi8Q1nRrsza25/dchRNBa9ZE+t6rsJzXRtxWJrRMZp7QO6XSEtePlOLSzG9xwl7ADxxFUhEkmVKwHE4o2oWKq9SrdwQIxVrTMM5PtCcwkrzlm0YD6ya+eEuegGQuVT0pdKLKn77B9kvcnoZ9wCFE2qH7CVn83hVEl7wPmvdBYjslDkCNWU8XWg4FCpjQ8k1YQAwj0J0zT4rW550KfzbyWCUEZMSbj2+R8/6UYF" />
    <add name="EWEADO" connectionString="VU6xYDMVEbukmId8xf0LO9vCrdyuyuoyDCxQouDIj8toGAsed7IcRvnZM+eFS58RN9jSRx67fQ/Anc3Ziv04X6gNvmN5EiiBKdbiAAaeugXZphtbjUxD7Td5dXP7k9BC3q45i+waoklTQAuhVcVuiBdHoMgx8FF/yjynh/TFOclMiVoGOz8Wta206JZVX1GJl09jkhrnujXVfpZyH9URmw==" />-->

  
    <!-- Connection Strings -->
    <add name="EWEEntities" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphb7VeDuC8Nd0dg6XbHYNkphWAjWRTBwzOetVHHas8hPkq+FslFIWCn9nCSMCIgoWufx/y6CwZ1vGenSKBbu5fxsYwM97hbD7UtloZTtTCZx2iiyhjwqvw7PK6JJIb0C5LCd1zY0LnZUfx2gL88If6erhyY4fhpz+xi7kvt4WsY//KKQD4YnrLuyH7/Z2j9YbFZuN/LD0BcZBwJ/LuxylUq4Mu2xE1g22VGYIs7xPGajqaNHdUTvBJrpJjRRlspylB" />
    <add name="EWEADO" connectionString="VU6xYDMVEbukmId8xf0LO/KbqM8AyDfvjXl18wEUxQb7bErwnEaWcefu+tcBSGg8kjDQoghkM3CuRGxwI3czEpf5tuOEHo9N7EQkpDl8WLFETK/UJ/jio1F61Qdxf1AuaysI8XyUvoOqSFy2sVztkbwjjb4uEJaBLMRqp5ihq7nvPIxxUFX2ucjPesYxtwQUzSkrIBldjyO+1XshpU5jeQ==" />
    <add name="CollectedDataConnectionString" connectionString="aK1YAGRZ65xhQPFwAvwhjdvl8wP96JZLuuK6VEBH0AbqQ50cFNg9rqmdg4sDRw+nICoqHIR28fXMjztYOTLMOQ47cDZ0Smp1RJy4T6fmxhx6pmv1ILqu1DCla1DLhH5HA35G2JT/7utmrypk4w9UPrCbYSSdqm5FbzbpT0X8OD1wQvApKwNuATtVuPR/zyVHAvwZAM2sauVakNgj+PKlZQ==" />
    <add name="CacheConnectionString" connectionString="PdMNmmmGN9M/NKG11osW9DR0uKDEZeRokXySIghfLEU7o1Ba2mKn3mOgyc2FXJPb0Ipn/gLm3rwnd8OriyE4Z+KZy0xU2JaMjQqsS5BhEougztnysx9lS4I9sAkhUaNfPV2HsuF8zdGmQwFzxUCwqcy5kDPewPSltZcCSXLya2I="/>
    <add name="ServiceBusConnectionString" connectionString="OX0SNfYqkiRafktEFTJYk37MWR4bGtUBYsENjGaZzL3ZVvmfOPoDg2meq5OKI6mRCST1rCQqOHcLufSioOZzK3PDnwaN6WiKSxVMWQSvx2vHvkPA4l8tnLyS9sV56lC12fJ3SyZZMIH0puvUV8sTIaWZHh6kUgYz5PKQYs/Ybv3wLl+zqcbW5Pxyo9TkLJVhZTbgfXjBSffzFLQc3clHfg=="/>
    <add name="MetadataBlobStorage.ConnectionString" connectionString="u0XqfLZYFfqB9YFXoILIa2bKWiUIaQfM4Cly/Bci9QvMRId4u6cwnfzCgdXY+F5tDmc4C4oqupESFsaGO6yQW/+PFA13STk+/W2yYgTPSVBkHiu6TJcyhsjdPaHmiJTjCp2wAi0/Lag2yil7pxp2lXIivZi3GNNJsjZta8BFV1rrxKYOAI7GUC0V+RYbvU9lLdygk5gFQsXYJ9giBd567w=="/>
 

    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Epi.Cloud-20160511164118;Integrated Security=SSPI" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="20" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />-->
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <caching>
      <outputCache defaultProvider="MyRedisOutputCache">
        <providers>
          <!-- For more details check https://github.com/Azure/aspnet-redis-providers/wiki -->
          <!-- Either use 'connectionString' OR 'settingsClassName' and 'settingsMethodName' OR use 'host','port','accessKey','ssl','connectionTimeoutInMilliseconds' and 'operationTimeoutInMilliseconds'. -->
          <!-- 'databaseId' and 'applicationName' can be used with both options. -->
          <!--
          <add name="MyRedisOutputCache" 
            host = "127.0.0.1" [String]
            port = "" [number]
            accessKey = "" [String]
            ssl = "false" [true|false]
            databaseId = "0" [number]
            applicationName = "" [String]
            connectionTimeoutInMilliseconds = "5000" [number]
            operationTimeoutInMilliseconds = "1000" [number]
            connectionString = "<Valid StackExchange.Redis connection string>" [String]
            settingsClassName = "<Assembly qualified class name that contains settings method specified below. Which basically return 'connectionString' value>" [String]
            settingsMethodName = "<Settings method should be defined in settingsClass. It should be public, static, does not take any parameters and should have a return type of 'String', which is basically 'connectionString' value.>" [String]
            loggingClassName = "<Assembly qualified class name that contains logging method specified below>" [String]
            loggingMethodName = "<Logging method should be defined in loggingClass. It should be public, static, does not take any parameters and should have a return type of System.IO.TextWriter.>" [String]
          />
          -->
          <add name="MyRedisOutputCache" type="Microsoft.Web.Redis.RedisOutputCacheProvider" host="epicloudsession.redis.cache.windows.net" accessKey="fuxPa8hO5iQCsn7Zl5X3iKgLcPVdsiskw2q+R0iAcJU=" ssl="true" />
        </providers>
      </outputCache>
    </caching>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />-->
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
