<div class="jumbotron">
    <h1>Wellcome</h1>
    <p class="lead">The Database access service is help to access the EpiinfoCloudDB.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
 
