<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>

    <add key="ServiceBusTopicName" value="responseinfotopic"/>
    <add key="ServiceBusSubscriptionName" value="ReadSurveyInfoSubscription"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Binding Used Name: Update this based on the binding used. Should match the name of binding in bindings section-->
    <!--<add key="ENDPOINT_USED" value="BasicHttpBinding_IDataService"/>-->
    <add key="ENDPOINT_USED" value="WSHttpBinding_IDataService" />
    <!--Binding Used Name-->
    <!--Integrated SurveyManagerService Settings-->
    <add key="URL" value="" />
    <!--<add key="AdminKey" value="PYl6Ksk91G3qbYbcFU+RXTp22fd6FVgMjqrSIvwnt/uM7wvbKzOTiVtAmKXOp22p"/>-->
    <add key="AdminKey" value="3o/K0emd+yuDDxbLm2VDsuJmvN8dEKXIbifNsARrUk/rJA34TiH6Cl7SMk/tMiYS" />
    <add key="maxBytesPerRead" value="2048000" />
    <add key="BandwidthUsageFactor" value="50" />
    <!--Bandwidth Usage Factor should be between 0 and 100 -->
    <!--Integrated ManagerService settings-->
    <!--Messages-->
    <add key="SURVEY_NOT_EXISTS" value="The Survey does not exist. Please check the survey link and try again." />
    <add key="UNKNOWN_ERROR_MESSAGE" value="An unexpected error occurred. Please click the link below to return to the Home page or contact your system administrator for more information." />
    <add key="SURVEY_SUBMITED_MESSAGE" value="This survey has been submitted." />
    <add key="SURVEY_CLOSED_MESSAGE" value="This survey is currently closed. Please contact the author of this survey for further assistance." />
    <add key="SURVEY_SUBMISSION_MESSAGE" value="Thank you! Your survey has been submitted." />
    <!--Messages-->
    <!--Omniture settings-->
    <add key="OMNITURE_IS_ENABLED" value="FALSE" />
    <add key="OMNITURE_CHANNEL_NAME" value=" " />
    <add key="OMNITURE_LEVEL_1" value=" " />
    <add key="OMNITURE_LEVEL_2" value=" " />
    <add key="OMNITURE_LEVEL_3" value=" " />
    <add key="OMNITURE_TOPIC_LEVEL_JS" value=" " />
    <add key="OMNITURE_S_CODE_JS" value=" " />
    <add key="OMNITURE_METRIC_URL" value=" " />
    <!--Omniture settings-->
    <add key="RESPONSE_PAGE_SIZE" value="20" />
    <add key="RESPONSE_PAGE_SIZE_Mobile" value="10" />
    <add key="ENDPOINT_ADDRESS" value="http://172.23.3.10/EpiInfoWebEnterQA/EWEManagerService.svc" />
    <add key="BINDING_PROTOCOL" value="Basic" />
    <add key="WINDOW_AUTHENTICATION" value="No" />
    <!--Enter settings End-->
    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw==" />
    <add key="KeyForConnectionStringPassphrase" value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ==" />
    <add key="KeyForConnectionStringSalt" value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg==" />
    <add key="KeyForConnectionStringVector" value="G6up33hyUX5guTj+" />
    <add key="BaseURL" value="http://localhost:54611/Login" />
    <add key="URL" value="http://localhost:54611/Login" />
    <add key="SEND_EMAIL_TO_ASSIGNED_USERS" value="TRUE" />
    <!-- Password Policy Starts-->
    <add key="PasswordMinimumLength" value="6" />
    <add key="PasswordMaximumLength" value="10" />
    <!--<add key="UBoundDigit" value="61"/>-->
    <!--<add key="UseAlphabets" value="true"/>-->
    <add key="NumberOfTypesRequiredInPassword" value="3" />
    <add key="TotalNumberOfTypesInPassword" value="4" />
    <add key="UseNumbers" value="true" />
    <add key="UseUpperCase" value="true" />
    <add key="UseLowerCase" value="true" />
    <add key="UseSymbols" value="true" />
    <add key="Symbols" value="@#$|{}^" />
    <add key="RepeatCharacters" value="true" />
    <add key="ConsecutiveCharacters" value="false" />
    <add key="UseUserIdInPassword" value="true" />
    <add key="UseUserNameInPassword" value="true" />
    <!-- Password Policy Ends-->
    <add key="PPTag" value="80787d6053694493be171dd712e51c61" />
    <add key="SVTag" value="476ba16073764022bc7f262c6d67ebef" />
    <add key="IsEWAVLiteIntegrationEnabled" value="false" />
    <add key="EWAVLiteBaseURL" value="http://172.23.3.10/ewavlitedev/app/index.html"/>
    <add key="IsDemoMode" value="false"/>

    <!-- The Environment key is used to identify the specific environment that a resource is located at. -->
    <add key="Environment" value="CDCQA"/>
    <!--<add key="Environment/CollectedDataConnectionString" value="Ananth"/>-->
    <!--<add key="Environment" value="Ananth"/>-->
    <!-- An individual resource can be located in an environment other then the one specified above.
         e.g. the EWEADO resource could to located at specific Environment and can override the default environment. 
         <add key="Environment/EWEADO" value="Ananth"/> -->

    <add key="Environment.API" value="CDCQA"/>

    <add key="MetadataAccessServiceAPI@Local" value="https://localhost:44379/"/>
    <add key="MetadataAccessServiceAPI@Garry" value="http://epicclouddevapi.azurewebsites.net/"/>
    <add key="MetadataAccessServiceAPI@Ananth" value="http://cloudenterapiqa.azurewebsites.net/"/>
    <add key="MetadataAccessServiceAPI@CDCDev" value="http://eicdcmetadataapidev.azurewebsites.net/"/>
    <add key="MetadataAccessServiceAPI@CDCQA" value="http://eicdcmetadataapiqa.azurewebsites.net/"/>

    <!--<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://eicdcsbdev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Cy2Y5mEchXy6J+h+HCt9ksKJl0pjdE5lCU2E59H2rsU="/>-->
    
    <!--<add key="serviceEndpoint" value="https://epiclouddev.documents.azure.com:443/"/>
    <add key="authKey" value="5mSE1Qg6EYQNzZXoZ46putFzmjdGo3oIVtXwmfI2phqBGRlEI2KiWDTZGrwcK1SyJMJRoRXIGSSiTYMYLW1GnA=="/>-->

    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://eicdcsbqa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=51GyYK9/w0hbBrYj7kXHhmestRTcQ+d2GKRzvjTNNE8="/>


		<add key="MetadataAccessServiceAPI@CDCDev" value="http://eicdcmetadataapidev.azurewebsites.net/"/>
		<add key="MetadataAccessServiceAPI@CDCQA" value="http://eicdcmetadataapiqa.azurewebsites.net/"/>
  </appSettings>
  <connectionStrings>
    
    <!-- CDC Dev's Connection Strings -->
    <add name="EWEEntities@CDCDev" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670BhjzxCPu4c+I4aMS0LEuwA7Up0yjvcz/QAutqdj0KW/vbQPFCfFXvfnsonTjG1Rx39s9bbxwDmudiJzJNXRVX3EooyvE+txy18xSAZrihUunvLvQ/sv+Xrl7atO2D2paZ7du29M7aIF/PoBXZFb8IHAWDJLO9aammqKzzX22rge5Mn/Zb9n1P/4BMntgJh7elMsvF2EJb0ItLo+dfjdqf5vXy0B39yXzi8lLPzbTvI6Q+R8" />
    <add name="EWEADO@CDCDev" connectionString="VU6xYDMVEbukmId8xf0LO966HPNtekAi3lDuyoYJzSxq9GRqw9ncGf3i5SMS7oJKKh1NQ/a/uTYUVbIqT8Ansf6AjjMT4Zm4/wU4M56UVzk1IQFkFJKHy23n7J0hs51mqPnO44ikSWYVpsDNhiKOyVlYwFMX1qijM8XUO0tdY50XtlW2STnbBqu42xiyyLHH9jrTYUIa1b134VM+TklvnA==" />
    <add name="CollectedDataConnectionString@CDCDev" connectionString="https://eicdcdev.documents.azure.com:443/,AuthKey=xXZb8j5XI9KR0f1TM8f6Yop67pDdqeKv3AdefICCKdnP3krflsCuQLLhh3fK8MtlKNagultNvzIEtbLoUL0atA==,DBName=eicdcdev"/>
    <add name="CacheConnectionString@CDCDev" connectionString="eicdccachedev.redis.cache.windows.net:6380,password=nh1mW0bztkWwiWwTgab09WDLcLaJAEjwZ2B3Hl78JB8=,ssl=True,abortConnect=False"/>


    <!-- CDC QA's Connection Strings -->
    <add name="EWEEntities@CDCQA" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz6VeIvyPX7GOy5FF06/KYv9olnKeNi6uN9Y5yx0Ya05Qpq9CgPl7OB6ezRCv7ZXX6ggaXEjoHVaLmYfp8Yha8/RldRuvzyUr2BHHzsfRBNdhtBNapaS1T4kfb7A9PM4yjlykryaMwMqPUBbasXjTbXclCSnNXNZyr2Daao4XjRG39m9QYkwJJAg6Kn0wOretNbB32jiMz6YOrJ+0cd1VWSCrSdISCFuFgAn3DpGays0p" />
    <add name="EWEADO@CDCQA" connectionString="VU6xYDMVEbukmId8xf0LOxf9w+FIjeT9k6WIrTAamtd5vkULlEyQ6MvKV3IkO3QD/TbpxvX48veGqf0ZLX7ZaRvsRuHGtMszNeRsDbVsP1B3jCcWFrNgxTovR4iElHx//ZTuO47m7aT6KsbdtcmyAdVIIdZRgbLIyLn8bxIf6chSTb5PzZWsKv2VcLiAgDRPQC9qtKrhsPzhJqoavLZFmA==" />
    <add name="CollectedDataConnectionString@CDCQA" connectionString="https://eicdcqa.documents.azure.com:443/,AuthKey=JyKzZ4wQ3RohaBnWnpjM4AFsSs2XfVZCL5eLoKDuCbJt6s0Qli0f2tEtvM7SVdZvYNcEJnbMmLvs5vx4KGI26A==,DBName=eicdcqa"/>
    <add name="CacheConnectionString@CDCQA" connectionString="eicdccacheqa.redis.cache.windows.net:6380,password=O/Mmi6XnktKw3zJA0AK+uII8knKrV38C75n5ClRWwbo=,ssl=True,abortConnect=False"/>

  </connectionStrings>
  
</configuration>
