<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    
    
    <!-- CDC Dev's Connection Strings -->
    <add name="MetadataBlog.ContainerName" connectionString="ProjectMetadataTemplate"/>
    <add name="EWEEntities@CDCDev" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670BhjzxCPu4c+I4aMS0LEuwA7Up0yjvcz/QAutqdj0KW/vbQPFCfFXvfnsonTjG1Rx39s9bbxwDmudiJzJNXRVX3EooyvE+txy18xSAZrihUunvLvQ/sv+Xrl7atO2D2paZ7du29M7aIF/PoBXZFb8IHAWDJLO9aammqKzzX22rge5Mn/Zb9n1P/4BMntgJh7elMsvF2EJb0ItLo+dfjdqf5vXy0B39yXzi8lLPzbTvI6Q+R8" />
    <add name="EWEADO@CDCDev" connectionString="VU6xYDMVEbukmId8xf0LO966HPNtekAi3lDuyoYJzSxq9GRqw9ncGf3i5SMS7oJKKh1NQ/a/uTYUVbIqT8Ansf6AjjMT4Zm4/wU4M56UVzk1IQFkFJKHy23n7J0hs51mqPnO44ikSWYVpsDNhiKOyVlYwFMX1qijM8XUO0tdY50XtlW2STnbBqu42xiyyLHH9jrTYUIa1b134VM+TklvnA==" />
    <!--<add name="CollectedDataConnectionString@CDCDev" connectionString="https://eicdcdev.documents.azure.com:443/,AuthKey=xXZb8j5XI9KR0f1TM8f6Yop67pDdqeKv3AdefICCKdnP3krflsCuQLLhh3fK8MtlKNagultNvzIEtbLoUL0atA==,DBName=eicdcdev"/>
    <add name="CacheConnectionString@CDCDev" connectionString="eicdccachedev.redis.cache.windows.net:6380,password=nh1mW0bztkWwiWwTgab09WDLcLaJAEjwZ2B3Hl78JB8=,ssl=True,abortConnect=False"/>-->
    <add name="MetadataBlobStorage.ConnectionString@CDCDev" connectionString="u0XqfLZYFfqB9YFXoILIa2bKWiUIaQfM4Cly/Bci9QvMRId4u6cwnfzCgdXY+F5tvqbe5RISIuk1GuAVCd/7YwaR/Xe2j3L+lkCZbCuiWhgj14AepELT85Eh6+I80WGnYP5SavepJttz2nJU0HMJV9fMoYEsGLb0qoS8vCGgn02/WcNwuS2tkBHHn7iu4gUFaimMY3Gze538FYkO71YFYg=="/>


    <!-- CDC QA's Connection Strings -->
    <add name="EWEEntities@CDCQA" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz6VeIvyPX7GOy5FF06/KYv9olnKeNi6uN9Y5yx0Ya05Qpq9CgPl7OB6ezRCv7ZXX6ggaXEjoHVaLmYfp8Yha8/RldRuvzyUr2BHHzsfRBNdhtBNapaS1T4kfb7A9PM4yjlykryaMwMqPUBbasXjTbXclCSnNXNZyr2Daao4XjRG39m9QYkwJJAg6Kn0wOretNbB32jiMz6YOrJ+0cd1VWSCrSdISCFuFgAn3DpGays0p" />
    <add name="EWEADO@CDCQA" connectionString="VU6xYDMVEbukmId8xf0LOxf9w+FIjeT9k6WIrTAamtd5vkULlEyQ6MvKV3IkO3QD/TbpxvX48veGqf0ZLX7ZaRvsRuHGtMszNeRsDbVsP1B3jCcWFrNgxTovR4iElHx//ZTuO47m7aT6KsbdtcmyAdVIIdZRgbLIyLn8bxIf6chSTb5PzZWsKv2VcLiAgDRPQC9qtKrhsPzhJqoavLZFmA==" />
    <!--<add name="CollectedDataConnectionString@CDCQA" connectionString="https://eicdcqa.documents.azure.com:443/,AuthKey=JyKzZ4wQ3RohaBnWnpjM4AFsSs2XfVZCL5eLoKDuCbJt6s0Qli0f2tEtvM7SVdZvYNcEJnbMmLvs5vx4KGI26A==,DBName=eicdcqa"/>-->
    <!--<add name="CacheConnectionString@CDCQA" connectionString="eicdccacheqa.redis.cache.windows.net:6380,password=O/Mmi6XnktKw3zJA0AK+uII8knKrV38C75n5ClRWwbo=,ssl=True,abortConnect=False"/>-->
    <add name="MetadataBlobStorage.ConnectionString@CDCQA" connectionString="u0XqfLZYFfqB9YFXoILIa2bKWiUIaQfM4Cly/Bci9QvMRId4u6cwnfzCgdXY+F5tvqbe5RISIuk1GuAVCd/7YwaR/Xe2j3L+lkCZbCuiWhgj14AepELT85Eh6+I80WGnYP5SavepJttz2nJU0HMJV9fMoYEsGLb0qoS8vCGgn02/WcNwuS2tkBHHn7iu4gUFaimMY3Gze538FYkO71YFYg=="/>
    <add name="EIWSEntities" connectionString="ZB9j4lDfu3TKnIZ+DU0M+Wgiwd90ysv0TTr9meqLYB91wwQoGQTabrOOwMBWNFLV48PcDXR7OAkFQYxhjN87IKzW1ueDk861PmzGPDrmt0IxsKpeL3bFfaX6r5GnBC4K/0MeReTiJ7YGedDUwtrtsx+8eOxAusj2LW25tTdwGCOz/qLhitzcJkzqS7IWQNb+tE2wny7wecctDYCGSdrK3IIhW9c8wnqwnoqH4r0CP7+oySYrcikA8ntRa+/0kYicyCSV+m8TPojM32alE0Vze4J1YK0Dz3NCyzl2O6KEfb/QcX58u5y5rDp2+WATenVRHOxaqDnq76SYA+TQm3X1AepM85w/WS0MZCp4g4tz6PtZHTUdFdEwOZO6dpThmgyUb4RKiWY11nyVTVe6nCYANLzzVR8BLeWHKEAgw0HRTGk="/>
    <!--<add name="EWEADO" connectionString="FAGiv5rqcWa6o1p2B2RXIBKg3ZTBzPOwpaOlJIjPBWXHDWx73QvGrPVu8dA0TPqmUiPEYPsFJUC6w1o4klMaiOmVTNrAzH/HAaEQOGhoG+y2yIP56nixj7b7Mnwusgp3bBJ8ROMCPCjZBZMbXuvaTA=="/>-->
    <add name="EWEADO" connectionString="FAGiv5rqcWa6o1p2B2RXIBKg3ZTBzPOwpaOlJIjPBWXHDWx73QvGrPVu8dA0TPqmEsqWt0gGm66NFFI7jULA9WUZ6v7QVLxFChTD6QKAjgoeaA7LpGyjJNn9+IB3lhZvVDz9UkMz7tq6grlKFGBvY1Lto/bP8u5T35n5GdVKxT9FcGnxW43Ofkz5KD3QTcd6"/>
  </connectionStrings>
  <appSettings>

    <!-- !!!!!!!!!!!!!!!!!!!!! Delete these lines before deploying to production !!!!!!!!!!!!!!!!!!!!!!!!! -->


    <!--  -->
    
    
    
    <add key ="MetadataBlog.ContainerName" value="ProjectMetadataTemplate"/>
    <add key="URL" value="http://localhost:36025/Login/"/>
    <add key="AdminKey" value="PYl6Ksk91G3qbYbcFU+RXTp22fd6FVgMjqrSIvwnt/uM7wvbKzOTiVtAmKXOp22p"/>
    <add key="maxBytesPerRead" value="2048000"/>
    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw=="/>
    <!--Bandwidth Usage Factor should be between 0 and 100 -->
    <add key="BandwidthUsageFactor" value="50"/>
    <add key="Environment" value="CDCDEV"/>
    <add key="Environment.API" value="CDCDEV"/>
    
    


    <!-- CDC QA Connection Strings -->
    
    <!--WEB JOB QA-->
    <add key="WebJobUsername@CDCQA" value="/pHuo5TNsV6WnSchlF2T6A=="/>
    <add key="WebJobPassWord@CDCQA" value="X4j+W5E6E1/il2AMNFv5BaE3wMetMyvQdmfyIoESgkE8+TDLld5+0hARE/znbmM7Flx8wVGMQraXbJe4eoyI8Q=="/>
    <add key="WebJobName@CDCQA" value="G0OSkEsbYKjfS0H/umDjcQ=="/>
    <add key="WebJobURL@CDCQA" value="aK1YAGRZ65xhQPFwAvwhjV5SrOz6wHihn7TZarpMqZ0mCkUcM119RtWBmlkJ+SzO/LBotC4+X1atGyERdA1F0Q=="/>
    <!--CACHE DEV-->
    <add key="RedisCacheName@CDCQA" value="PdMNmmmGN9M/NKG11osW9DR0uKDEZeRokXySIghfLEV4m/Qhd6Vq0Jum8wUV/TTb"/>
    <add key="RedisCachePassword@CDCQA" value="72eOf0Y8nvMQ3RhLMo0YhncOJjx2MQfFF9CiK2mxS0A4bl/BJqyvNP9LPwjXeePE"/>
    <!--API QA-->
    <add key="MetadataAccessServiceAPI@CDCQA" value="http://eicdcmetadataapiqa.azurewebsites.net/"/>
    
    
    
    <!-- CDC DEV'S Connection Strings -->
    
    <!--WEB JOB DEV-->
    <add key="WebJobUsername@CDCDEV" value="8aLbJ6fEcGZI55Ub+0uW1g=="/>
    <add key="WebJobPassWord@CDCDEV" value="dxvGyBIYlCU9iRlZifYsza7IrNHNDvkB9+5QBPSD5GfLbNhnaO9yEkrJBXwHj7hwNXE0YArHyrVLOEvRpD2LEg=="/>
    <add key="WebJobName@CDCDEV" value="G0OSkEsbYKjfS0H/umDjcQ=="/>
    <add key="WebJobURL@CDCDEV" value="E3G4h8QLPlWA/c+UzKuaIqs+GCoce4xd537QjYzUcVmLRH/yrU3gCp0IgV0fxVz5gOgyUUzUw1zngx8BL3Y7Jw=="/>
    <!--WEB JOB CACHE-->
    <add key="RedisCacheName@CDCDEV" value="xE0tt7YqaR4yXkQjOL2wp7YStksHFU94+3pVmgmh/ZCwku0z+KtAhmLq6l38N4/+"/>
    <add key="RedisCachePassword@CDCDEV" value="f4Wqrx5pp12wzfL5qYVmJ+7/Ytu+jPeaN9qdtNQ/T6ip7i/d+rQmFbItMprdK8pk"/>
    <!--API DEV-->
    <add key="MetadataAccessServiceAPI@CDCDev" value="http://eicdcmetadataapidev.azurewebsites.net/"/>



  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <!--basicHttpBinding to configure the service using basicHttpBinding-->
      <basicHttpBinding>
        <binding name="basicHttpBinding_dataservice" maxBufferSize="999999999" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
      <!--wsHttpBidning to configure the service using wsHttpBinding-->
      <wsHttpBinding>
        <binding name="wsHttpBinding_managerservice" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <!--Service endpoint for ManagerService-->
      <service name="Epi.Web.WCF.SurveyService.EWECloudManagerService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="basicHttpBinding" contract="Epi.Web.WCF.SurveyService.IEWECloudManagerService" bindingConfiguration="basicHttpBinding_dataservice"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <!--Service endpoint for ManagerServiceV2-->
      <!--<service name="Epi.Web.WCF.SurveyService.EWECloudManagerServiceV2" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="basicHttpBinding" contract="Epi.Web.WCF.SurveyService.IEWEManagerServiceV2" bindingConfiguration="basicHttpBinding_dataservice"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>-->
      <!--Service endpoint for DataServivce-->
       
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>