<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>


    <!--<add name="EWEEntities" connectionString="metadata=res://*/EpiInfo-Metatables.csdl|res://*/EpiInfo-Metatables.ssdl|res://*/EpiInfo-Metatables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:eicsraqa.database.windows.net,1433;initial catalog=EICDCQA;user id=eicsraadmin;password=+Z18]B/h-1F862v;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
    <add name="EWEADO" connectionString="Data Source=tcp:eicsradqa.database.windows.net,1433;Persist Security Info=True;User ID=eicsraadmin;Password=+Z18]B/h-1F862v;Initial Catalog=EICDCQA;" />
    <add name="MetadataBlobStorage.ConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=eicdcstorageqa;AccountKey=AB+H+o8UJCUHOvNj4xDBNJ6ft7PEwrNex9DP04vIJKOAlFpxwxveuK1mKKCJzw/218AVJP06v/Vu5q+8nMazxA==;"/>
    <add name="EIWSEntities" connectionString="metadata=res://*/Epi.Web.Model.csdl|res://*/Epi.Web.Model.ssdl|res://*/Epi.Web.Model.msl;provider=System.Data.SqlClient;provider connection string='Data Source=etidhap56-sql;Initial Catalog=OSELS_EWE;Persist Security'"/>-->


    <add name="EWEEntities" connectionString="metadata=res://*/EpiInfo-Metatables.csdl|res://*/EpiInfo-Metatables.ssdl|res://*/EpiInfo-Metatables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:eicsraqa.database.windows.net,1433;initial catalog=EICDCQA;user id=eicsraadmin;password=+Z18]B/h-1F862v;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="EWEADO" connectionString="Data Source=tcp:eicsradqa.database.windows.net,1433;Persist Security Info=True;User ID=eicsraadmin;Password=+Z18]B/h-1F862v;Initial Catalog=EICDCQA;" />
    <add name="MetadataBlobStorage.ConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=eicdcstorageqa;AccountKey=AB+H+o8UJCUHOvNj4xDBNJ6ft7PEwrNex9DP04vIJKOAlFpxwxveuK1mKKCJzw/218AVJP06v/Vu5q+8nMazxA==;"/>
    <add name="EIWSEntities" connectionString="metadata=res://*/Epi.Web.Model.csdl|res://*/Epi.Web.Model.ssdl|res://*/Epi.Web.Model.msl;provider=System.Data.SqlClient;provider connection string='Data Source=etidhap56-sql;Initial Catalog=OSELS_EWE;Persist Security'"/>


  </connectionStrings>
  <appSettings>

    <!-- !!!!!!!!!!!!!!!!!!!!! Delete these lines before deploying to production !!!!!!!!!!!!!!!!!!!!!!!!! -->


    <!--  -->
    
    
    
    <add key ="MetadataBlog.ContainerName" value="ProjectMetadataTemplate"/>
    <add key="URL" value="http://localhost:36025/Login/"/>
    <add key="AdminKey" value="PYl6Ksk91G3qbYbcFU+RXTp22fd6FVgMjqrSIvwnt/uM7wvbKzOTiVtAmKXOp22p"/>
    <add key="maxBytesPerRead" value="2048000"/>
    <add key="KeyForUserPasswordSalt" value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw=="/>
    <!--Bandwidth Usage Factor should be between 0 and 100 -->
    <add key="BandwidthUsageFactor" value="50"/>
    <add key="Environment" value="CDCDEV"/>
    <add key="Environment.API" value="CDCDEV"/>
    
    


      <!--WEB JOB--><!--
    <add key="WebJobUsername" value="$EICDCQA"/>
    <add key="WebJobPassWord" value="0lpriNdGPvM7HrvopR2D0fzpxMpS6krdfS1YhvhjuMPEeJsyEDuGm4eQg9v3"/>
    <add key="WebJobName" value="CloudJob"/>
    <add key="WebJobURL" value="https://eicdcqa.scm.azurewebsites.net/api/continuouswebjobs/"/>
    --><!--CACHE--><!--
    <add key="RedisCacheName" value="eicdccacheqa.redis.cache.windows.net:6380"/>
    <add key="RedisCachePassword" value="O/Mmi6XnktKw3zJA0AK+uII8knKrV38C75n5ClRWwbo="/>
    --><!--API QA--><!--
    <add key="MetadataAccessServiceAPI" value="http://eicdcmetadataapiqa.azurewebsites.net/"/>-->


    <!--WEB JOB-->
    <add key="WebJobUsername" value="$EICDCDev"/>
    <add key="WebJobPassWord" value="h3259YLXZtljij8kqTHJRwvR3q8Zbb9eBJftxabBx6QCjFGi8sJ5EPo7JwNh"/>
    <add key="WebJobName" value="CloudJob"/>
    <add key="WebJobURL" value="https://eicdcdev.scm.azurewebsites.net/api/continuouswebjobs/"/>
    <!--CACHE-->
    <add key="RedisCacheName" value="eicdccachedev.redis.cache.windows.net:6380"/>
    <add key="RedisCachePassword" value="nh1mW0bztkWwiWwTgab09WDLcLaJAEjwZ2B3Hl78JB8="/>
    <!--API QA-->
    <add key="MetadataAccessServiceAPI" value="http://eicdcmetadataapidev.azurewebsites.net/"/>


  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <!--basicHttpBinding to configure the service using basicHttpBinding-->
      <basicHttpBinding>
        <binding name="basicHttpBinding_dataservice" maxBufferSize="999999999" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
      <!--wsHttpBidning to configure the service using wsHttpBinding-->
      <wsHttpBinding>
        <binding name="wsHttpBinding_managerservice" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <!--Service endpoint for ManagerService-->
      <service name="Epi.Web.WCF.SurveyService.EWECloudManagerService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="basicHttpBinding" contract="Epi.Web.WCF.SurveyService.IEWECloudManagerService" bindingConfiguration="basicHttpBinding_dataservice"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <!--Service endpoint for ManagerServiceV2-->
      <!--<service name="Epi.Web.WCF.SurveyService.EWECloudManagerServiceV2" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="basicHttpBinding" contract="Epi.Web.WCF.SurveyService.IEWEManagerServiceV2" bindingConfiguration="basicHttpBinding_dataservice"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>-->
      <!--Service endpoint for DataServivce-->
       
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>