<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="KeyForUserPasswordSalt"
      value="1PIJhCF67TY/ciQni/FHYOLH7q+bNajOm3gaHMl34dlYTauD9vBQpfI4uLM+4sz1t8o1LVVO0y6e9PaGPRkLZpr3d+2ubEmrMuNQihMcxXdOATDkulmiYhjH8l55mEQEMozPjw=="/>
    <add key="KeyForConnectionStringPassphrase"
      value="jEz9wopRFHNx8R7OQSgmr0Ye6xBb9nPKKDZAydJ6fmp2/jFJPEYDnz33TQqXz+/qXjoYhWh5QD9MG/BBzDrjAskF2XaJX44LwceZC3yiuR5/CPI013gYuffEsCPeTuo0VHeqxQ=="/>
    <add key="KeyForConnectionStringSalt"
      value="I3mi1ehgzE/9eGiWdTVrMxCQPWHgkOGVg9mZuIcF1XSnxG6dOOAtnbzeYsrnQHvSD1zh3V1eVBLuypTGP0vNw7lEo6FXCpnICGXy+yNH57i+JnT9MTBZuRc5BrBbQTPF64vANg=="/>
    <add key="KeyForConnectionStringVector" value="G6up33hyUX5guTj+"/>

    <!-- The Environment key is used to identify the specific environment that a resource is located at. -->
    <add key="Environment" value="CDCQA"/>
    <!--<add key="Environment" value="Ananth"/>-->
    <!-- An individual resource can be located in an environment other then the one specified above.
         e.g. the EPIInfo7Entities resource could to located at specific Environment and can override the default environment. 
         <add key="Environment/EPIInfo7Entities" value="Ananth"/> -->
  </appSettings>
  
  <connectionStrings>
    <add name="DBConnection@Garry"
      connectionString="Server=tcp:gelwebenterss.database.windows.net,1433;Database=EPIInfo7;User ID=saglenz@gelwebenterss;Password=Password123!@#; Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add name="EPIInfo7Entities@Garry"
      connectionString="metadata=res://*/EpiInfo-Metatables.csdl|res://*/EpiInfo-Metatables.ssdl|res://*/EpiInfo-Metatables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:gelwebenterss.database.windows.net,1433;initial catalog=EPIInfo7;user id=saglenz@gelwebenterss;password=Password123!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>

    <add name="DBConnection@Ananth"
      connectionString="Server=tcp:epiinfocloudserver.database.windows.net,1433;Database=EPIInfo7;User ID=epiinfoadmin@epiinfocloudserver;Password=Strong5050; Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add name="EPIInfo7Entities@Ananth"
      connectionString="metadata=res://*/EpiInfo-Metatables.csdl|res://*/EpiInfo-Metatables.ssdl|res://*/EpiInfo-Metatables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:epiinfocloudserver.database.windows.net,1433;initial catalog=EPIInfo7;user id=epiinfoadmin@epiinfocloudserver;password=Strong5050;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>

    <add name="DBConnection@CDCDev"
      connectionString="Server=tcp:eicsradevdbserver.database.windows.net,1433;Database=EICloudEnterDevDb;User ID=eicsraadmin;Password=hK=JDZNjW@S8!pv; Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add name="EPIInfo7Entities@CDCDev"
      connectionString="metadata=res://*/EpiInfo-Metatables.csdl|res://*/EpiInfo-Metatables.ssdl|res://*/EpiInfo-Metatables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:eicsradevdbserver.database.windows.net,1433;initial catalog=EICloudEnterDevDb;user id=eicsraadmin;password=hK=JDZNjW@S8!pv;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>

    <add name="DBConnection@CDCQA"
      connectionString="Server=tcp:eicsradbserver.database.windows.net,1433;Database=EICloudEnterQA;User ID=eicsraadmin;Password=+Z18]B/h-1F862v; Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add name="EPIInfo7Entities@CDCQA"
      connectionString="metadata=res://*/EpiInfo-Metatables.csdl|res://*/EpiInfo-Metatables.ssdl|res://*/EpiInfo-Metatables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:eicsradbserver.database.windows.net,1433;initial catalog=EICloudEnterQA;user id=eicsraadmin;password=+Z18]B/h-1F862v;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <system.web>
    <customErrors mode="Off"/>

    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  
</configuration>