<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://epiinfocloudenterqa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>epiinfocloudenterqa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>epiinfocloudenterqa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$epiinfocloudenterqa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EWEEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz6NQhLa0RUYYsdffbRrf2Fh/gSfgiLIdWMUqSSiI8BgncFr3aaJo/mxs6TTKAEthDujuoyFJzD8StCLeppIZHxcAsaRkIxlrCrmxugxOz/j6OUp7nUfXk5c9qBE2CYfqdmmDroAIvVdXLmZxWSpJ4rgldQcD87w+JQPJL0NztEGEMdygPTFFho2ZrdiFBk65CcxdAgPNUAcQQHx6j87A1i5UHL55yfm/LQcgztvHvl15mVvrcziRnXWeP/xZZ9uehQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz6NQhLa0RUYYsdffbRrf2Fh/gSfgiLIdWMUqSSiI8BgncFr3aaJo/mxs6TTKAEthDujuoyFJzD8StCLeppIZHxcAsaRkIxlrCrmxugxOz/j6OUp7nUfXk5c9qBE2CYfqdmmDroAIvVdXLmZxWSpJ4rgldQcD87w+JQPJL0NztEGEMdygPTFFho2ZrdiFBk65CcxdAgPNUAcQQHx6j87A1i5UHL55yfm/LQcgztvHvl15mVvrcziRnXWeP/xZZ9uehQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="VU6xYDMVEbukmId8xf0LO0l9EM6SAE+DhlpBq7jv3xCklmbbucjpBMzEyDgJt+dEok1oD+77jy+JYlQtPKJBsllz3jiS/18eUr2tX9Bvgss/XqBzlwj6NY12jLOqGAHaQYyajtpY8D+VyEr9lt4LZrEXxvHz2B7QZfvo5DRbOUQoJVAFnwBBGsuaQCYK+3HKiqpHpSwEitX0z3eRlYHUVrOlNhzIrW6Ke4JXjUl0V50=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="VU6xYDMVEbukmId8xf0LO0l9EM6SAE+DhlpBq7jv3xCklmbbucjpBMzEyDgJt+dEok1oD+77jy+JYlQtPKJBsllz3jiS/18eUr2tX9Bvgss/XqBzlwj6NY12jLOqGAHaQYyajtpY8D+VyEr9lt4LZrEXxvHz2B7QZfvo5DRbOUQoJVAFnwBBGsuaQCYK+3HKiqpHpSwEitX0z3eRlYHUVrOlNhzIrW6Ke4JXjUl0V50=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:epiinfocloudserver.database.windows.net,1433;Initial Catalog=EPIInfo7;Persist Security Info=True;User ID=epiinfoadmin@epiinfocloudserver;Password=Strong5050" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Epi.Cloud-20160511164118;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Epi.Cloud-20160511164118;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:epiinfocloudserver.database.windows.net,1433;Initial Catalog=EPIInfo7;Persist Security Info=True;User ID=epiinfoadmin@epiinfocloudserver;Password=Strong5050</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EWEADO-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EWEEntities-Web.config Connection String" />
  </ItemGroup>
</Project>