<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gelwebenter01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gelwebenter01.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GELWebEnter01</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GELWebEnter01</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EWEEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjzx/2uuTi8Q1nRrsza25/dchRNBa9ZE+t6rsJzXRtxWJrRMZp7QO6XSEtePlOLSzG91s5FIbrCc3M7PRIreAGn7+AOyTw4dQXBeCN5Gll+fsPwoOt9TOJIzQ6NzFxoA39ZYMpuuyu3afbrU0HNr9GfrbIo4XJwrk6tf/Npmw2q40VyImfrpRH21MHM7APkWqOlPzwvwudAVVKWl+ixTTeV1gqNFD+blPE8QIbEqnLTKhH" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjzx/2uuTi8Q1nRrsza25/dchRNBa9ZE+t6rsJzXRtxWJrRMZp7QO6XSEtePlOLSzG91s5FIbrCc3M7PRIreAGn7+AOyTw4dQXBeCN5Gll+fsPwoOt9TOJIzQ6NzFxoA39ZYMpuuyu3afbrU0HNr9GfrbIo4XJwrk6tf/Npmw2q40VyImfrpRH21MHM7APkWqOlPzwvwudAVVKWl+ixTTeV1gqNFD+blPE8QIbEqnLTKhH" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="VU6xYDMVEbukmId8xf0LO9vCrdyuyuoyDCxQouDIj8toGAsed7IcRvnZM+eFS58RN9jSRx67fQ/Anc3Ziv04X6gNvmN5EiiBKdbiAAaeugXZphtbjUxD7Td5dXP7k9BC3q45i+waoklTQAuhVcVuiBdHoMgx8FF/yjynh/TFOckll0bdzmhH1+VJ05/DI//FdETXxwhhIASMwHUjXZ4RNw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="VU6xYDMVEbukmId8xf0LO9vCrdyuyuoyDCxQouDIj8toGAsed7IcRvnZM+eFS58RN9jSRx67fQ/Anc3Ziv04X6gNvmN5EiiBKdbiAAaeugXZphtbjUxD7Td5dXP7k9BC3q45i+waoklTQAuhVcVuiBdHoMgx8FF/yjynh/TFOckll0bdzmhH1+VJ05/DI//FdETXxwhhIASMwHUjXZ4RNw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Epi.Cloud-20160511164118;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Epi.Cloud-20160511164118;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EWEADO-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EWEEntities-Web.config Connection String" />
  </ItemGroup>
</Project>