<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL />
    <DeployIisAppPath />
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EWEEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz4+3ENGVd4m/kpUaQdaOGP2inxcwUvmoCwAKxwq8pdsefa/NJ1QzfgMMHNFwTNyZLMlslhX+khqdnkutUuE/sRZHvfrqzJ3voqsZHGtisiiC41M/T7IpvpW8uwMK9LqmU46nSnOfxhMbPRgWhobGWOtXN3fNUW2w7hf7NFqm1JillkzdOjTHIbl/C72kQD4cTQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz4+3ENGVd4m/kpUaQdaOGP2inxcwUvmoCwAKxwq8pdsefa/NJ1QzfgMMHNFwTNyZLMlslhX+khqdnkutUuE/sRZHvfrqzJ3voqsZHGtisiiC41M/T7IpvpW8uwMK9LqmU46nSnOfxhMbPRgWhobGWOtXN3fNUW2w7hf7NFqm1JillkzdOjTHIbl/C72kQD4cTQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="ucRVQquD6EypVIC/dQySq/92iO6xMUJzbvYA8I+77+Dkba+9/wg15vP/F3qIESwoJ7hHKWHn3V3nEGyRVEgw+NXfBMaCPiCmBBfsuexbO0a+KDdlu0kY3OJewLN4LOEYx4wz+X67lFZ0mie6DsIM5yv5EFO70Jqw1ntZxN6w5QQ=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="ucRVQquD6EypVIC/dQySq/92iO6xMUJzbvYA8I+77+Dkba+9/wg15vP/F3qIESwoJ7hHKWHn3V3nEGyRVEgw+NXfBMaCPiCmBBfsuexbO0a+KDdlu0kY3OJewLN4LOEYx4wz+X67lFZ0mie6DsIM5yv5EFO70Jqw1ntZxN6w5QQ=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EWEADO-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EWEEntities-Web.config Connection String" />
  </ItemGroup>
</Project>