<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Environment" value="CDCQA"/> 
    <add key="Environment.API" value="CDCQA"/>
    <add key ="MetadataBlog.ContainerName" value="ProjectMetadataTemplate"/>
    <add key="MetadataAccessServiceAPI@CDCDev" value="http://eicdcmetadataapidev.azurewebsites.net/"/>
    <add key="MetadataAccessServiceAPI@CDCQA" value="http://eicdcmetadataapiqa.azurewebsites.net/"/>

    <add key="Environment" value="CDCQA"/>
    <add key="redisCacheName" value="http://eicdccacheqa.redis.cache.windows.net:6380"/>
    <add key="redisCachePassword" value="O/Mmi6XnktKw3zJA0AK+uII8knKrV38C75n5ClRWwbo="/>
  </appSettings>
  <connectionStrings>
    <!-- CDC Dev's Connection Strings -->
    <add name="MetadataBlog.ContainerName" connectionString="ProjectMetadataTemplate"/>
    <add name="EWEEntities@CDCDev" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670BhjzxCPu4c+I4aMS0LEuwA7Up0yjvcz/QAutqdj0KW/vbQPFCfFXvfnsonTjG1Rx39s9bbxwDmudiJzJNXRVX3EooyvE+txy18xSAZrihUunvLvQ/sv+Xrl7atO2D2paZ7du29M7aIF/PoBXZFb8IHAWDJLO9aammqKzzX22rge5Mn/Zb9n1P/4BMntgJh7elMsvF2EJb0ItLo+dfjdqf5vXy0B39yXzi8lLPzbTvI6Q+R8" />
    <add name="EWEADO@CDCDev" connectionString="VU6xYDMVEbukmId8xf0LO966HPNtekAi3lDuyoYJzSxq9GRqw9ncGf3i5SMS7oJKKh1NQ/a/uTYUVbIqT8Ansf6AjjMT4Zm4/wU4M56UVzk1IQFkFJKHy23n7J0hs51mqPnO44ikSWYVpsDNhiKOyVlYwFMX1qijM8XUO0tdY50XtlW2STnbBqu42xiyyLHH9jrTYUIa1b134VM+TklvnA==" />
    <add name="CollectedDataConnectionString@CDCDev" connectionString="https://eicdcdev.documents.azure.com:443/,AuthKey=xXZb8j5XI9KR0f1TM8f6Yop67pDdqeKv3AdefICCKdnP3krflsCuQLLhh3fK8MtlKNagultNvzIEtbLoUL0atA==,DBName=eicdcdev"/>
    <add name="CacheConnectionString@CDCDev" connectionString="eicdccachedev.redis.cache.windows.net:6380,password=nh1mW0bztkWwiWwTgab09WDLcLaJAEjwZ2B3Hl78JB8=,ssl=True,abortConnect=False"/>
    <add name="MetadataBlobStorage.ConnectionString@CDCDev" connectionString="DefaultEndpointsProtocol=https;AccountName=eicdcstoragedev;AccountKey=bnqAKHyhFut8DShuhLt3nMAl6D7xTTAYHemnq2qOrZ6R/PwSwHlKKnDVoV//BNYT2SmW8OXfuj2G13EAfQLIhA==;"/>

    <!-- CDC QA's Connection Strings -->
    <add name="EWEEntities@CDCQA" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz6VeIvyPX7GOy5FF06/KYv9olnKeNi6uN9Y5yx0Ya05Qpq9CgPl7OB6ezRCv7ZXX6ggaXEjoHVaLmYfp8Yha8/RldRuvzyUr2BHHzsfRBNdhtBNapaS1T4kfb7A9PM4yjlykryaMwMqPUBbasXjTbXclCSnNXNZyr2Daao4XjRG39m9QYkwJJAg6Kn0wOretNbB32jiMz6YOrJ+0cd1VWSCrSdISCFuFgAn3DpGays0p" />
    <add name="EWEADO@CDCQA" connectionString="VU6xYDMVEbukmId8xf0LOxf9w+FIjeT9k6WIrTAamtd5vkULlEyQ6MvKV3IkO3QD/TbpxvX48veGqf0ZLX7ZaRvsRuHGtMszNeRsDbVsP1B3jCcWFrNgxTovR4iElHx//ZTuO47m7aT6KsbdtcmyAdVIIdZRgbLIyLn8bxIf6chSTb5PzZWsKv2VcLiAgDRPQC9qtKrhsPzhJqoavLZFmA==" />
    <add name="CollectedDataConnectionString@CDCQA" connectionString="https://eicdcqa.documents.azure.com:443/,AuthKey=JyKzZ4wQ3RohaBnWnpjM4AFsSs2XfVZCL5eLoKDuCbJt6s0Qli0f2tEtvM7SVdZvYNcEJnbMmLvs5vx4KGI26A==,DBName=eicdcqa"/>
    <add name="CacheConnectionString@CDCQA" connectionString="eicdccacheqa.redis.cache.windows.net:6380,password=O/Mmi6XnktKw3zJA0AK+uII8knKrV38C75n5ClRWwbo=,ssl=True,abortConnect=False"/>
    <add name="MetadataBlobStorage.ConnectionString@CDCQA" connectionString="DefaultEndpointsProtocol=https;AccountName=eicdcstorageqa;AccountKey=AB+H+o8UJCUHOvNj4xDBNJ6ft7PEwrNex9DP04vIJKOAlFpxwxveuK1mKKCJzw/218AVJP06v/Vu5q+8nMazxA==;"/>

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
