<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cloudenterdcsqa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cloudenterdcsqa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CloudEnterDCSQA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CloudEnterDCSQA</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CollectedDataConnectionString@CDCQA" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="https://eicsraddbqa.documents.azure.com:443/,AuthKey=DSvbOBmR20W5U2t0gZHcUGnwAXKnDpYnOYnYrNi3PJVoeqaqxjdqxcqcddqPdEw2qxBjokNR6HiHEXlAAeciMA==,DBName=eicsraddbqa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CollectedDataConnectionString@CDCQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="https://eicsraddbqa.documents.azure.com:443/,AuthKey=DSvbOBmR20W5U2t0gZHcUGnwAXKnDpYnOYnYrNi3PJVoeqaqxjdqxcqcddqPdEw2qxBjokNR6HiHEXlAAeciMA==,DBName=eicsraddbqa" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CacheConnectionString@CDCQA" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="eicsracacheqa.redis.cache.windows.net:6380,password=4Dm9Wjz6yZtrIQB8lKeED/c3OXZS7WBejUZFPxO3mUI=,ssl=True,abortConnect=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CacheConnectionString@CDCQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="eicsracacheqa.redis.cache.windows.net:6380,password=4Dm9Wjz6yZtrIQB8lKeED/c3OXZS7WBejUZFPxO3mUI=,ssl=True,abortConnect=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEEntities@CDCQA" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz1CRJW4+iBc/FG4WXlCIbaXdcRSBS1KI2M/hnUvSHYndoLPmKvJN6e1Rjr7qHx0ayZ/6aAPChu5AuHqx30W+EQhJIIP7Zm1GlTmn9dPWWGiWbb1jumG5pOQ11DekLazeaqfjfAP48GKxkHs4hC8Xmkt/HFxMNGkS71qGfy8DCXoGidcNE/EZ6a9gmLQB2VuNM80xj51lf64uaGvuXoco5NJWtJMLozMNXxOeVh8TXqzkKtidnGPk1LdL2hB+wz+P3w==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities@CDCQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz1CRJW4+iBc/FG4WXlCIbaXdcRSBS1KI2M/hnUvSHYndoLPmKvJN6e1Rjr7qHx0ayZ/6aAPChu5AuHqx30W+EQhJIIP7Zm1GlTmn9dPWWGiWbb1jumG5pOQ11DekLazeaqfjfAP48GKxkHs4hC8Xmkt/HFxMNGkS71qGfy8DCXoGidcNE/EZ6a9gmLQB2VuNM80xj51lf64uaGvuXoco5NJWtJMLozMNXxOeVh8TXqzkKtidnGPk1LdL2hB+wz+P3w==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO@CDCQA" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="VU6xYDMVEbukmId8xf0LO0T2tn+QSB8ddILlpMw/mYsbgC/tpNY6rkXKrHAsbQHCKFS3R/266RZX4oTLMzwia8+jM4DgMFLXgcLD5zQ9kR1JW7U66uK/4m2aoQWKSZ9e+fbWcDdeUz85M9NPBbgWMmAYx+C30S0Uxx71tT0y+49jnZIeCRQfWuw4quQzkO7gQDTVdvgiN3XuiVhvdL8+VL3uoEa2HJ/YC7xdkxRljQs=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO@CDCQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="VU6xYDMVEbukmId8xf0LO0T2tn+QSB8ddILlpMw/mYsbgC/tpNY6rkXKrHAsbQHCKFS3R/266RZX4oTLMzwia8+jM4DgMFLXgcLD5zQ9kR1JW7U66uK/4m2aoQWKSZ9e+fbWcDdeUz85M9NPBbgWMmAYx+C30S0Uxx71tT0y+49jnZIeCRQfWuw4quQzkO7gQDTVdvgiN3XuiVhvdL8+VL3uoEa2HJ/YC7xdkxRljQs=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Epi.Cloud.DataConsistencyServicesAPI.Models.ApplicationDbContext, Epi.Cloud.DataConsistencyServicesAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CacheConnectionString@CDCQA-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CollectedDataConnectionString@CDCQA-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EWEADO@CDCQA-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EWEEntities@CDCQA-Web.config Connection String" />
  </ItemGroup>
</Project>