<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eicdcqa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eicdcqa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EICDCQA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EICDCQA</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CollectedDataConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Jj8jS+Mii4Kx3eWSICy553JsCg7S+N4PU9bg1tbOdvdXqwifNHWuMnc4uumItuyt0/M5khtvpWtEwo5kIrs8LoSguziXdCruwJ+mavbkh0jElYOGJm8VooDe4hkWYLcNFhYWE2HSmMzXKa7mhSEvHX8zXFGMyAw3IRFfORobnwqi4cCoT+pchGiZ9Sb5Sry0U+0w0KzijF2rWd3pxfd9YWF6bGI31TwTir4G7kRG42I=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CollectedDataConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Jj8jS+Mii4Kx3eWSICy553JsCg7S+N4PU9bg1tbOdvdXqwifNHWuMnc4uumItuyt0/M5khtvpWtEwo5kIrs8LoSguziXdCruwJ+mavbkh0jElYOGJm8VooDe4hkWYLcNFhYWE2HSmMzXKa7mhSEvHX8zXFGMyAw3IRFfORobnwqi4cCoT+pchGiZ9Sb5Sry0U+0w0KzijF2rWd3pxfd9YWF6bGI31TwTir4G7kRG42I=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CacheConnectionString" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="PdMNmmmGN9M/NKG11osW9DR0uKDEZeRokXySIghfLEU7o1Ba2mKn3mOgyc2FXJPb0Ipn/gLm3rwnd8OriyE4Z+KZy0xU2JaMjQqsS5BhEougztnysx9lS4I9sAkhUaNfPV2HsuF8zdGmQwFzxUCwqcy5kDPewPSltZcCSXLya2I=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CacheConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="PdMNmmmGN9M/NKG11osW9DR0uKDEZeRokXySIghfLEU7o1Ba2mKn3mOgyc2FXJPb0Ipn/gLm3rwnd8OriyE4Z+KZy0xU2JaMjQqsS5BhEougztnysx9lS4I9sAkhUaNfPV2HsuF8zdGmQwFzxUCwqcy5kDPewPSltZcCSXLya2I=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphb7VeDuC8Nd0dg6XbHYNkphWAjWRTBwzOetVHHas8hPkq+FslFIWCn9nCSMCIgoWufx/y6CwZ1vGenSKBbu5fxsYwM97hbD7UtloZTtTCZx2iiyhjwqvw7PK6JJIb0C5LCd1zY0LnZUfx2gL88If6erhyY4fhpz+xi7kvt4WsY//KKQD4YnrLuyH7/Z2j9YbFZuN/LD0BcZBwJ/LuxylUq4Mu2xE1g22VGYIs7xPGajqaNHdUTvBJrpJjRRlspylB" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphb7VeDuC8Nd0dg6XbHYNkphWAjWRTBwzOetVHHas8hPkq+FslFIWCn9nCSMCIgoWufx/y6CwZ1vGenSKBbu5fxsYwM97hbD7UtloZTtTCZx2iiyhjwqvw7PK6JJIb0C5LCd1zY0LnZUfx2gL88If6erhyY4fhpz+xi7kvt4WsY//KKQD4YnrLuyH7/Z2j9YbFZuN/LD0BcZBwJ/LuxylUq4Mu2xE1g22VGYIs7xPGajqaNHdUTvBJrpJjRRlspylB" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="VU6xYDMVEbukmId8xf0LO/KbqM8AyDfvjXl18wEUxQb7bErwnEaWcefu+tcBSGg8kjDQoghkM3CuRGxwI3czEpf5tuOEHo9N7EQkpDl8WLFETK/UJ/jio1F61Qdxf1AuaysI8XyUvoOqSFy2sVztkbwjjb4uEJaBLMRqp5ihq7nvPIxxUFX2ucjPesYxtwQUzSkrIBldjyO+1XshpU5jeQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="VU6xYDMVEbukmId8xf0LO/KbqM8AyDfvjXl18wEUxQb7bErwnEaWcefu+tcBSGg8kjDQoghkM3CuRGxwI3czEpf5tuOEHo9N7EQkpDl8WLFETK/UJ/jio1F61Qdxf1AuaysI8XyUvoOqSFy2sVztkbwjjb4uEJaBLMRqp5ihq7nvPIxxUFX2ucjPesYxtwQUzSkrIBldjyO+1XshpU5jeQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Epi.Cloud.DataConsistencyServicesAPI-20160823091921.mdf;Initial Catalog=aspnet-Epi.Cloud.DataConsistencyServicesAPI-20160823091921;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Epi.Cloud.DataConsistencyServicesAPI-20160823091921.mdf;Initial Catalog=aspnet-Epi.Cloud.DataConsistencyServicesAPI-20160823091921;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
</Project>