<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  
  <appSettings>
    <add key="Environment" value="CDCQA"/>
    <!--<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://cloudenterservicebusqa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=U4utOsSxa+Wdlwj7zQ2p8ZKlAgYkc5/SNWYLrbRnvZs="/>-->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://eicdcsbqa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=51GyYK9/w0hbBrYj7kXHhmestRTcQ+d2GKRzvjTNNE8="/>

  </appSettings>
  <connectionStrings>

    <!-- CDC QA's Connection Strings --><!--
    <add name="EWEEntities@CDCQA"
      connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz1CRJW4+iBc/FG4WXlCIbaXdcRSBS1KI2M/hnUvSHYndoLPmKvJN6e1Rjr7qHx0ayZ/6aAPChu5AuHqx30W+EQhJIIP7Zm1GlTmn9dPWWGiWbb1jumG5pOQ11DekLazeaqfjfAP48GKxkHs4hC8Xmkt/HFxMNGkS71qGfy8DCXoGidcNE/EZ6a9gmLQB2VuNM80xj51lf64uaGvuXoco5NJWtJMLozMNXxOeVh8TXqzkKtidnGPk1LdL2hB+wz+P3w=="/>
    <add name="EWEADO@CDCQA"
      connectionString="VU6xYDMVEbukmId8xf0LO0T2tn+QSB8ddILlpMw/mYsbgC/tpNY6rkXKrHAsbQHCKFS3R/266RZX4oTLMzwia8+jM4DgMFLXgcLD5zQ9kR1JW7U66uK/4m2aoQWKSZ9e+fbWcDdeUz85M9NPBbgWMmAYx+C30S0Uxx71tT0y+49jnZIeCRQfWuw4quQzkO7gQDTVdvgiN3XuiVhvdL8+VL3uoEa2HJ/YC7xdkxRljQs="/>
    <add name="CollectedDataConnectionString@CDCQA"
      connectionString="https://eicsraddbqa.documents.azure.com:443/,AuthKey=DSvbOBmR20W5U2t0gZHcUGnwAXKnDpYnOYnYrNi3PJVoeqaqxjdqxcqcddqPdEw2qxBjokNR6HiHEXlAAeciMA==,DBName=eicsraddbqa"/>
    <add name="CacheConnectionString@CDCQA"
      connectionString="eicsracacheqa.redis.cache.windows.net:6380,password=4Dm9Wjz6yZtrIQB8lKeED/c3OXZS7WBejUZFPxO3mUI=,ssl=True,abortConnect=False"/>-->

    <!-- DEV -->
    <!--<add name="EWEEntities" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670BhjzxCPu4c+I4aMS0LEuwA7Up0yjvcz/QAutqdj0KW/vbQPFCfFXvfnsonTjG1Rx39s9bbxwDmudiJzJNXRVX3EooyvE+txy18xSAZrihUunvLvQ/sv+Xrl7atO2D2paZ7du29M7aIF/PoBXZFb8IHAWDJLO9aammqKzzX22rge5Mn/Zb9n1P/4BMntgJh7elMsvF2EJb0ItLo+dfjdqf5vXy0B39yXzi8lLPzbTvI6Q+R8" />
    <add name="EWEADO" connectionString="VU6xYDMVEbukmId8xf0LO966HPNtekAi3lDuyoYJzSxq9GRqw9ncGf3i5SMS7oJKKh1NQ/a/uTYUVbIqT8Ansf6AjjMT4Zm4/wU4M56UVzk1IQFkFJKHy23n7J0hs51mqPnO44ikSWYVpsDNhiKOyVlYwFMX1qijM8XUO0tdY50XtlW2STnbBqu42xiyyLHH9jrTYUIa1b134VM+TklvnA==" />
    <add name="CollectedDataConnectionString" connectionString="E3G4h8QLPlWA/c+UzKuaIhXxrXUI0MMBWG1p12+Z4Kqt5cCmzmqScFxqv1nIZXzKS7ybxizTA7atY+fWXmdzsTwxCQLPi8A+s/HqOsRo5z+RFFtRkFHXviF7BogYEYIb52qQOyOO6RHCRWXGQ7dfskGFqVYs5arkh/kHbDVuAjjZjO0gjf3InlYKpnHK/JAT198xBjNjMjwsMj+UIE54eQ=="/>
    <add name="CacheConnectionString" connectionString="xE0tt7YqaR4yXkQjOL2wp7YStksHFU94+3pVmgmh/ZAZjA+3+WoXEkvJsVboLH/Zuuf8aAXnqG44ESuIi/tEKXAl6bj73Y6H22DBFZcs77WzNCRaqXyqIG3akQgdhCMqLsbgixqMk/ptqfRiX8jCiQ7L5T3qrG/DhddZ30poEfg="/>-->

    <!-- QA -->
    <add name="EWEEntities" connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphb7VeDuC8Nd0dg6XbHYNkphWAjWRTBwzOetVHHas8hPkq+FslFIWCn9nCSMCIgoWufx/y6CwZ1vGenSKBbu5fxsYwM97hbD7UtloZTtTCZx2iiyhjwqvw7PK6JJIb0C5LCd1zY0LnZUfx2gL88If6erhyY4fhpz+xi7kvt4WsY//KKQD4YnrLuyH7/Z2j9YbFZuN/LD0BcZBwJ/LuxylUq4Mu2xE1g22VGYIs7xPGajqaNHdUTvBJrpJjRRlspylB" />
		<add name="EWEADO" connectionString="VU6xYDMVEbukmId8xf0LO/KbqM8AyDfvjXl18wEUxQb7bErwnEaWcefu+tcBSGg8kjDQoghkM3CuRGxwI3czEpf5tuOEHo9N7EQkpDl8WLFETK/UJ/jio1F61Qdxf1AuaysI8XyUvoOqSFy2sVztkbwjjb4uEJaBLMRqp5ihq7nvPIxxUFX2ucjPesYxtwQUzSkrIBldjyO+1XshpU5jeQ==" />
		<add name="CollectedDataConnectionString" connectionString="Jj8jS+Mii4Kx3eWSICy553JsCg7S+N4PU9bg1tbOdvdXqwifNHWuMnc4uumItuyt0/M5khtvpWtEwo5kIrs8LoSguziXdCruwJ+mavbkh0jElYOGJm8VooDe4hkWYLcNFhYWE2HSmMzXKa7mhSEvHX8zXFGMyAw3IRFfORobnwqi4cCoT+pchGiZ9Sb5Sry0U+0w0KzijF2rWd3pxfd9YWF6bGI31TwTir4G7kRG42I=" />
		<add name="CacheConnectionString" connectionString="PdMNmmmGN9M/NKG11osW9DR0uKDEZeRokXySIghfLEU7o1Ba2mKn3mOgyc2FXJPb0Ipn/gLm3rwnd8OriyE4Z+KZy0xU2JaMjQqsS5BhEougztnysx9lS4I9sAkhUaNfPV2HsuF8zdGmQwFzxUCwqcy5kDPewPSltZcCSXLya2I="/>
		

    <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Epi.Cloud.DataConsistencyServicesAPI-20160823091921.mdf;Initial Catalog=aspnet-Epi.Cloud.DataConsistencyServicesAPI-20160823091921;Integrated Security=True"
      providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>