<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  
  <appSettings>
    <add key="Environment" value="CDCQA"/>
    <!--<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://cloudenterservicebusqa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=U4utOsSxa+Wdlwj7zQ2p8ZKlAgYkc5/SNWYLrbRnvZs="/>-->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://eicdcsbqa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=51GyYK9/w0hbBrYj7kXHhmestRTcQ+d2GKRzvjTNNE8="/>

  </appSettings>
  <connectionStrings>

    <!-- CDC QA's Connection Strings -->
    <add name="EWEEntities@CDCQA"
      connectionString="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz1CRJW4+iBc/FG4WXlCIbaXdcRSBS1KI2M/hnUvSHYndoLPmKvJN6e1Rjr7qHx0ayZ/6aAPChu5AuHqx30W+EQhJIIP7Zm1GlTmn9dPWWGiWbb1jumG5pOQ11DekLazeaqfjfAP48GKxkHs4hC8Xmkt/HFxMNGkS71qGfy8DCXoGidcNE/EZ6a9gmLQB2VuNM80xj51lf64uaGvuXoco5NJWtJMLozMNXxOeVh8TXqzkKtidnGPk1LdL2hB+wz+P3w=="/>
    <add name="EWEADO@CDCQA"
      connectionString="VU6xYDMVEbukmId8xf0LO0T2tn+QSB8ddILlpMw/mYsbgC/tpNY6rkXKrHAsbQHCKFS3R/266RZX4oTLMzwia8+jM4DgMFLXgcLD5zQ9kR1JW7U66uK/4m2aoQWKSZ9e+fbWcDdeUz85M9NPBbgWMmAYx+C30S0Uxx71tT0y+49jnZIeCRQfWuw4quQzkO7gQDTVdvgiN3XuiVhvdL8+VL3uoEa2HJ/YC7xdkxRljQs="/>
    <add name="CollectedDataConnectionString@CDCQA"
      connectionString="https://eicsraddbqa.documents.azure.com:443/,AuthKey=DSvbOBmR20W5U2t0gZHcUGnwAXKnDpYnOYnYrNi3PJVoeqaqxjdqxcqcddqPdEw2qxBjokNR6HiHEXlAAeciMA==,DBName=eicsraddbqa"/>
    <add name="CacheConnectionString@CDCQA"
      connectionString="eicsracacheqa.redis.cache.windows.net:6380,password=4Dm9Wjz6yZtrIQB8lKeED/c3OXZS7WBejUZFPxO3mUI=,ssl=True,abortConnect=False"/>


    <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Epi.Cloud.DataConsistencyServicesAPI-20160823091921.mdf;Initial Catalog=aspnet-Epi.Cloud.DataConsistencyServicesAPI-20160823091921;Integrated Security=True"
      providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>