<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eicdccsraqa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eicdccsraqa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EICDCCSRADEV</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EICDCCSRADEV</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MetadataBlobStorage.ConnectionString@CDCDev" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=eicdcstoragedev;AccountKey=bnqAKHyhFut8DShuhLt3nMAl6D7xTTAYHemnq2qOrZ6R/PwSwHlKKnDVoV//BNYT2SmW8OXfuj2G13EAfQLIhA==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MetadataBlobStorage.ConnectionString@CDCDev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=eicdcstoragedev;AccountKey=bnqAKHyhFut8DShuhLt3nMAl6D7xTTAYHemnq2qOrZ6R/PwSwHlKKnDVoV//BNYT2SmW8OXfuj2G13EAfQLIhA==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MetadataBlobStorage.ConnectionString@Garry" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=epicloudstorage;AccountKey=Omv3gVhO0HaaKOmk6KLsLvIezfeeSfUOq1uQCTgLgIXypVMqorTUHLEG11QqqCeFau617hQXQj4QTuJaZ/i0RQ==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MetadataBlobStorage.ConnectionString@Garry_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=epicloudstorage;AccountKey=Omv3gVhO0HaaKOmk6KLsLvIezfeeSfUOq1uQCTgLgIXypVMqorTUHLEG11QqqCeFau617hQXQj4QTuJaZ/i0RQ==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MetadataBlobStorage.ConnectionString@CDCQA" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=eicdcstorageqa;AccountKey=AB+H+o8UJCUHOvNj4xDBNJ6ft7PEwrNex9DP04vIJKOAlFpxwxveuK1mKKCJzw/218AVJP06v/Vu5q+8nMazxA==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MetadataBlobStorage.ConnectionString@CDCQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=eicdcstorageqa;AccountKey=AB+H+o8UJCUHOvNj4xDBNJ6ft7PEwrNex9DP04vIJKOAlFpxwxveuK1mKKCJzw/218AVJP06v/Vu5q+8nMazxA==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CollectedDataConnectionString@Ananth" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="https://epicloud.documents.azure.com:443/,AuthKey=CpSmljLmEKEOXv3BBvEFajJZJzhAHmvmBDDOGvxK4KKSRCzmaO0IMG2aBGVL8LFkufa8wcSre8ow8kIVfTpK2g==,DBName=EpiInfo7" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CollectedDataConnectionString@Ananth_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="https://epicloud.documents.azure.com:443/,AuthKey=CpSmljLmEKEOXv3BBvEFajJZJzhAHmvmBDDOGvxK4KKSRCzmaO0IMG2aBGVL8LFkufa8wcSre8ow8kIVfTpK2g==,DBName=EpiInfo7" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CollectedDataConnectionString@CDCDev" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="https://eicdcdev.documents.azure.com:443/,AuthKey=xXZb8j5XI9KR0f1TM8f6Yop67pDdqeKv3AdefICCKdnP3krflsCuQLLhh3fK8MtlKNagultNvzIEtbLoUL0atA==,DBName=eicdcdev" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CollectedDataConnectionString@CDCDev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="https://eicdcdev.documents.azure.com:443/,AuthKey=xXZb8j5XI9KR0f1TM8f6Yop67pDdqeKv3AdefICCKdnP3krflsCuQLLhh3fK8MtlKNagultNvzIEtbLoUL0atA==,DBName=eicdcdev" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CollectedDataConnectionString@Garry" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="AccountEndpoint=https://docdbsradev.documents.azure.com:443/;AccountKey=1sB9qjj4VGaPoXEEy7YXGSTF7jso1UVm2AvNM2y1PBXiDwGFyWdvS1AfN1L2YTbvXP3dsNj8VAePD7wrK6APPQ==;DBName=docdbgarry" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CollectedDataConnectionString@Garry_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="AccountEndpoint=https://docdbsradev.documents.azure.com:443/;AccountKey=1sB9qjj4VGaPoXEEy7YXGSTF7jso1UVm2AvNM2y1PBXiDwGFyWdvS1AfN1L2YTbvXP3dsNj8VAePD7wrK6APPQ==;DBName=docdbgarry" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CollectedDataConnectionString@CDCQA" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="https://eicdcqa.documents.azure.com:443/,AuthKey=JyKzZ4wQ3RohaBnWnpjM4AFsSs2XfVZCL5eLoKDuCbJt6s0Qli0f2tEtvM7SVdZvYNcEJnbMmLvs5vx4KGI26A==,DBName=eicdcqa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CollectedDataConnectionString@CDCQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="https://eicdcqa.documents.azure.com:443/,AuthKey=JyKzZ4wQ3RohaBnWnpjM4AFsSs2XfVZCL5eLoKDuCbJt6s0Qli0f2tEtvM7SVdZvYNcEJnbMmLvs5vx4KGI26A==,DBName=eicdcqa" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CacheConnectionString@Ananth" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="epicloudcache.redis.cache.windows.net:6380,password=UB1WdasfZtQIHYs/4svabMYGcnfCkFV22Ixamky4Hjw=,ssl=True,abortConnect=False ,allowAdmin=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CacheConnectionString@Ananth_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="epicloudcache.redis.cache.windows.net:6380,password=UB1WdasfZtQIHYs/4svabMYGcnfCkFV22Ixamky4Hjw=,ssl=True,abortConnect=False ,allowAdmin=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CacheConnectionString@CDCDev" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="eicdccachedev.redis.cache.windows.net:6380,password=nh1mW0bztkWwiWwTgab09WDLcLaJAEjwZ2B3Hl78JB8=,ssl=True,abortConnect=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CacheConnectionString@CDCDev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="eicdccachedev.redis.cache.windows.net:6380,password=nh1mW0bztkWwiWwTgab09WDLcLaJAEjwZ2B3Hl78JB8=,ssl=True,abortConnect=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CacheConnectionString@Garry" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="epicloudcache.redis.cache.windows.net: 6380,password=bGyXgfP7P03XcXHY4Cyohz62vdDxBUIiS9TtLZrck/g=,ssl=true,abortConnect=False,allowAdmin=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CacheConnectionString@Garry_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="epicloudcache.redis.cache.windows.net: 6380,password=bGyXgfP7P03XcXHY4Cyohz62vdDxBUIiS9TtLZrck/g=,ssl=true,abortConnect=False,allowAdmin=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CacheConnectionString@CDCQA" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="eicdccacheqa.redis.cache.windows.net:6380,password=O/Mmi6XnktKw3zJA0AK+uII8knKrV38C75n5ClRWwbo=,ssl=True,abortConnect=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CacheConnectionString@CDCQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="eicdccacheqa.redis.cache.windows.net:6380,password=O/Mmi6XnktKw3zJA0AK+uII8knKrV38C75n5ClRWwbo=,ssl=True,abortConnect=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEEntities@Ananth" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz6NQhLa0RUYYsdffbRrf2Fh/gSfgiLIdWMUqSSiI8BgncFr3aaJo/mxs6TTKAEthDujuoyFJzD8StCLeppIZHxcAsaRkIxlrCrmxugxOz/j6OUp7nUfXk5c9qBE2CYfqdmmDroAIvVdXLmZxWSpJ4rgldQcD87w+JQPJL0NztEGEMdygPTFFho2ZrdiFBk65CcxdAgPNUAcQQHx6j87A1i5UHL55yfm/LQcgztvHvl15mVvrcziRnXWeP/xZZ9uehQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities@Ananth_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz6NQhLa0RUYYsdffbRrf2Fh/gSfgiLIdWMUqSSiI8BgncFr3aaJo/mxs6TTKAEthDujuoyFJzD8StCLeppIZHxcAsaRkIxlrCrmxugxOz/j6OUp7nUfXk5c9qBE2CYfqdmmDroAIvVdXLmZxWSpJ4rgldQcD87w+JQPJL0NztEGEMdygPTFFho2ZrdiFBk65CcxdAgPNUAcQQHx6j87A1i5UHL55yfm/LQcgztvHvl15mVvrcziRnXWeP/xZZ9uehQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEEntities@CDCDev" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670BhjzxCPu4c+I4aMS0LEuwA7Up0yjvcz/QAutqdj0KW/vbQPFCfFXvfnsonTjG1Rx39s9bbxwDmudiJzJNXRVX3EooyvE+txy18xSAZrihUunvLvQ/sv+Xrl7atO2D2paZ7du29M7aIF/PoBXZFb8IHAWDJLO9aammqKzzX22rge5Mn/Zb9n1P/4BMntgJh7elMsvF2EJb0ItLo+dfjdqf5vXy0B39yXzi8lLPzbTvI6Q+R8" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities@CDCDev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670BhjzxCPu4c+I4aMS0LEuwA7Up0yjvcz/QAutqdj0KW/vbQPFCfFXvfnsonTjG1Rx39s9bbxwDmudiJzJNXRVX3EooyvE+txy18xSAZrihUunvLvQ/sv+Xrl7atO2D2paZ7du29M7aIF/PoBXZFb8IHAWDJLO9aammqKzzX22rge5Mn/Zb9n1P/4BMntgJh7elMsvF2EJb0ItLo+dfjdqf5vXy0B39yXzi8lLPzbTvI6Q+R8" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEEntities@Garry" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjzx/2uuTi8Q1nRrsza25/dchRNBa9ZE+t6rsJzXRtxWJrRMZp7QO6XSEtePlOLSzG9xwl7ADxxFUhEkmVKwHE4o2oWKq9SrdwQIxVrTMM5PtCcwkrzlm0YD6ya+eEuegGQuVT0pdKLKn77B9kvcnoZ9wCFE2qH7CVn83hVEl7wPmvdBYjslDkCNWU8XWg4FCpjQ8k1YQAwj0J0zT4rW550KfzbyWCUEZMSbj2+R8/6UYF" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities@Garry_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjzx/2uuTi8Q1nRrsza25/dchRNBa9ZE+t6rsJzXRtxWJrRMZp7QO6XSEtePlOLSzG9xwl7ADxxFUhEkmVKwHE4o2oWKq9SrdwQIxVrTMM5PtCcwkrzlm0YD6ya+eEuegGQuVT0pdKLKn77B9kvcnoZ9wCFE2qH7CVn83hVEl7wPmvdBYjslDkCNWU8XWg4FCpjQ8k1YQAwj0J0zT4rW550KfzbyWCUEZMSbj2+R8/6UYF" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEEntities@CDCQA" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz6VeIvyPX7GOy5FF06/KYv9olnKeNi6uN9Y5yx0Ya05Qpq9CgPl7OB6ezRCv7ZXX6ggaXEjoHVaLmYfp8Yha8/RldRuvzyUr2BHHzsfRBNdhtBNapaS1T4kfb7A9PM4yjlykryaMwMqPUBbasXjTbXclCSnNXNZyr2Daao4XjRG39m9QYkwJJAg6Kn0wOretNbB32jiMz6YOrJ+0cd1VWSCrSdISCFuFgAn3DpGays0p" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities@CDCQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjz6VeIvyPX7GOy5FF06/KYv9olnKeNi6uN9Y5yx0Ya05Qpq9CgPl7OB6ezRCv7ZXX6ggaXEjoHVaLmYfp8Yha8/RldRuvzyUr2BHHzsfRBNdhtBNapaS1T4kfb7A9PM4yjlykryaMwMqPUBbasXjTbXclCSnNXNZyr2Daao4XjRG39m9QYkwJJAg6Kn0wOretNbB32jiMz6YOrJ+0cd1VWSCrSdISCFuFgAn3DpGays0p" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Epi.Cloud-20160511164118;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Epi.Cloud-20160511164118;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO@Ananth" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="VU6xYDMVEbukmId8xf0LO0l9EM6SAE+DhlpBq7jv3xCklmbbucjpBMzEyDgJt+dEok1oD+77jy+JYlQtPKJBsllz3jiS/18eUr2tX9Bvgss/XqBzlwj6NY12jLOqGAHaQYyajtpY8D+VyEr9lt4LZrEXxvHz2B7QZfvo5DRbOUQoJVAFnwBBGsuaQCYK+3HKiqpHpSwEitX0z3eRlYHUVrOlNhzIrW6Ke4JXjUl0V50=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO@Ananth_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="VU6xYDMVEbukmId8xf0LO0l9EM6SAE+DhlpBq7jv3xCklmbbucjpBMzEyDgJt+dEok1oD+77jy+JYlQtPKJBsllz3jiS/18eUr2tX9Bvgss/XqBzlwj6NY12jLOqGAHaQYyajtpY8D+VyEr9lt4LZrEXxvHz2B7QZfvo5DRbOUQoJVAFnwBBGsuaQCYK+3HKiqpHpSwEitX0z3eRlYHUVrOlNhzIrW6Ke4JXjUl0V50=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO@CDCDev" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="VU6xYDMVEbukmId8xf0LO966HPNtekAi3lDuyoYJzSxq9GRqw9ncGf3i5SMS7oJKKh1NQ/a/uTYUVbIqT8Ansf6AjjMT4Zm4/wU4M56UVzk1IQFkFJKHy23n7J0hs51mqPnO44ikSWYVpsDNhiKOyVlYwFMX1qijM8XUO0tdY50XtlW2STnbBqu42xiyyLHH9jrTYUIa1b134VM+TklvnA==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO@CDCDev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="VU6xYDMVEbukmId8xf0LO966HPNtekAi3lDuyoYJzSxq9GRqw9ncGf3i5SMS7oJKKh1NQ/a/uTYUVbIqT8Ansf6AjjMT4Zm4/wU4M56UVzk1IQFkFJKHy23n7J0hs51mqPnO44ikSWYVpsDNhiKOyVlYwFMX1qijM8XUO0tdY50XtlW2STnbBqu42xiyyLHH9jrTYUIa1b134VM+TklvnA==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO@Garry" Order="19" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="VU6xYDMVEbukmId8xf0LO9vCrdyuyuoyDCxQouDIj8toGAsed7IcRvnZM+eFS58RN9jSRx67fQ/Anc3Ziv04X6gNvmN5EiiBKdbiAAaeugXZphtbjUxD7Td5dXP7k9BC3q45i+waoklTQAuhVcVuiBdHoMgx8FF/yjynh/TFOclMiVoGOz8Wta206JZVX1GJl09jkhrnujXVfpZyH9URmw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO@Garry_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="VU6xYDMVEbukmId8xf0LO9vCrdyuyuoyDCxQouDIj8toGAsed7IcRvnZM+eFS58RN9jSRx67fQ/Anc3Ziv04X6gNvmN5EiiBKdbiAAaeugXZphtbjUxD7Td5dXP7k9BC3q45i+waoklTQAuhVcVuiBdHoMgx8FF/yjynh/TFOclMiVoGOz8Wta206JZVX1GJl09jkhrnujXVfpZyH9URmw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO@CDCQA" Order="20" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="VU6xYDMVEbukmId8xf0LOxf9w+FIjeT9k6WIrTAamtd5vkULlEyQ6MvKV3IkO3QD/TbpxvX48veGqf0ZLX7ZaRvsRuHGtMszNeRsDbVsP1B3jCcWFrNgxTovR4iElHx//ZTuO47m7aT6KsbdtcmyAdVIIdZRgbLIyLn8bxIf6chSTb5PzZWsKv2VcLiAgDRPQC9qtKrhsPzhJqoavLZFmA==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO@CDCQA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="VU6xYDMVEbukmId8xf0LOxf9w+FIjeT9k6WIrTAamtd5vkULlEyQ6MvKV3IkO3QD/TbpxvX48veGqf0ZLX7ZaRvsRuHGtMszNeRsDbVsP1B3jCcWFrNgxTovR4iElHx//ZTuO47m7aT6KsbdtcmyAdVIIdZRgbLIyLn8bxIf6chSTb5PzZWsKv2VcLiAgDRPQC9qtKrhsPzhJqoavLZFmA==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEEntities" Order="21" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjzx/2uuTi8Q1nRrsza25/dchRNBa9ZE+t6rsJzXRtxWJrRMZp7QO6XSEtePlOLSzG9xwl7ADxxFUhEkmVKwHE4o2oWKq9SrdwQIxVrTMM5PtCcwkrzlm0YD6ya+eEuegGQuVT0pdKLKn77B9kvcnoZ9wCFE2qH7CVn83hVEl7wPmvdBYjslDkCNWU8XWg4FCpjQ8k1YQAwj0J0zT4rW550KfzbyWCUEZMSbj2+R8/6UYF" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9w0hu3bgfWowe8GtMYgzr/iYnEJaGWRG4eMh1Rh8Tj3IwTRwun0EAwV6dGUG9NbvwGvekpWGXwTRipZabIEbVbqiqHVNn+0efWj0i5JXtBlekIBMK1uVMo0FXr2Re2JJFQ21rx0igB3L9z8goKKQkoFC4H7THyPKzI78VbfHAus/L3ibAbAAaQf1gf8keiphIIvtgda+2twG7e670Bhjzx/2uuTi8Q1nRrsza25/dchRNBa9ZE+t6rsJzXRtxWJrRMZp7QO6XSEtePlOLSzG9xwl7ADxxFUhEkmVKwHE4o2oWKq9SrdwQIxVrTMM5PtCcwkrzlm0YD6ya+eEuegGQuVT0pdKLKn77B9kvcnoZ9wCFE2qH7CVn83hVEl7wPmvdBYjslDkCNWU8XWg4FCpjQ8k1YQAwj0J0zT4rW550KfzbyWCUEZMSbj2+R8/6UYF" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EWEADO" Order="22" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="VU6xYDMVEbukmId8xf0LO9vCrdyuyuoyDCxQouDIj8toGAsed7IcRvnZM+eFS58RN9jSRx67fQ/Anc3Ziv04X6gNvmN5EiiBKdbiAAaeugXZphtbjUxD7Td5dXP7k9BC3q45i+waoklTQAuhVcVuiBdHoMgx8FF/yjynh/TFOclMiVoGOz8Wta206JZVX1GJl09jkhrnujXVfpZyH9URmw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EWEADO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="VU6xYDMVEbukmId8xf0LO9vCrdyuyuoyDCxQouDIj8toGAsed7IcRvnZM+eFS58RN9jSRx67fQ/Anc3Ziv04X6gNvmN5EiiBKdbiAAaeugXZphtbjUxD7Td5dXP7k9BC3q45i+waoklTQAuhVcVuiBdHoMgx8FF/yjynh/TFOclMiVoGOz8Wta206JZVX1GJl09jkhrnujXVfpZyH9URmw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CollectedDataConnectionString@Garry-Web.config Connection String" />
  </ItemGroup>
</Project>